In [42]:
import pandas as pd
import numpy as np
import seaborn as sns
import pycountry

#### Import ```attacks.csv```

In [43]:
pd.set_option ("display.max_columns", None)
df = pd.read_csv("data/attacks.csv", encoding="latin1")
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

# CLEANING

#### Remove the ```columns``` i don't need

In [45]:
df.drop(columns=["Investigator or Source", 
                 "pdf", 
                 "href formula", 
                 "href", 
                 "Case Number.1", 
                 "Case Number.2", 
                 "original order", 
                 "Unnamed: 22",
                 "Unnamed: 23",
                 "Name",
                 "Location",
                 "Case Number",
                 "Area",
                 "Age",
                 "Sex ",
                 "Time",
                 "Fatal (Y/N)",
                 "Type",
                 "Activity",
                 "Injury"], 
        axis=1, inplace=True)
df

              Date    Year    Country         Species
0      25-Jun-2018  2018.0        USA      White shark
1      18-Jun-2018  2018.0        USA              NaN
2      09-Jun-2018  2018.0        USA              NaN
3      08-Jun-2018  2018.0  AUSTRALIA        2 m shark
4      04-Jun-2018  2018.0     MEXICO  Tiger shark, 3m
...            ...     ...        ...              ...
25718          NaN     NaN        NaN              NaN
25719          NaN     NaN        NaN              NaN
25720          NaN     NaN        NaN              NaN
25721          NaN     NaN        NaN              NaN
25722          NaN     NaN        NaN              NaN

[25723 rows x 4 columns]

#### Remove the ```rows``` i don't need

In [46]:
df.dropna(axis = 0, how = 'all', inplace = True)
df

             Date    Year             Country         Species
0     25-Jun-2018  2018.0                 USA      White shark
1     18-Jun-2018  2018.0                 USA              NaN
2     09-Jun-2018  2018.0                 USA              NaN
3     08-Jun-2018  2018.0           AUSTRALIA        2 m shark
4     04-Jun-2018  2018.0              MEXICO  Tiger shark, 3m
...           ...     ...                 ...              ...
6297  Before 1903     0.0           AUSTRALIA              NaN
6298  Before 1903     0.0           AUSTRALIA              NaN
6299    1900-1905     0.0                 USA              NaN
6300    1883-1889     0.0              PANAMA              NaN
6301    1845-1853     0.0  CEYLON (SRI LANKA)              NaN

[6302 rows x 4 columns]

# TRANSFORMING

## Hipothesis 1: Are sharks more aggressive according to the season of the year?
    Seasons: 
        To get the seasons i need first to sort the countries in the "Country" column by hemisphere.
        - Winter: Dec(12), Jan(1), Feb(2)
        - Spring: Mar(3), Apr(4), May(5)
        - Summer: Jun(6), Jul(7), Aug(8)
        - Autumn: Sep(9), Oct(10), Nov(11)
    Type Sharks:
        - White Shark: WHITE
        - Bull Shark: BULL
        - Mako Shark: MAKO
        - Tiger Shark: TIGER
        - Blacktip Shark: BLACKTIP

### SEASONS

#### 01. Change the name of the countries in the column "Country" to capitalize the first word of each word.
        In this way, pycountry will detect the countries properly.

In [47]:
# First we remove the NaN values from the Country column, otherwise will get an error trying to capitalize floats.
df.dropna(subset=['Country'], inplace=True) 

# Then we can use .apply method
df['Country'] = df['Country'].apply(lambda x: ' '.join([word.capitalize() for word in x.split()]))
df

             Date    Year             Country         Species
0     25-Jun-2018  2018.0                 Usa      White shark
1     18-Jun-2018  2018.0                 Usa              NaN
2     09-Jun-2018  2018.0                 Usa              NaN
3     08-Jun-2018  2018.0           Australia        2 m shark
4     04-Jun-2018  2018.0              Mexico  Tiger shark, 3m
...           ...     ...                 ...              ...
6297  Before 1903     0.0           Australia              NaN
6298  Before 1903     0.0           Australia              NaN
6299    1900-1905     0.0                 Usa              NaN
6300    1883-1889     0.0              Panama              NaN
6301    1845-1853     0.0  Ceylon (sri Lanka)              NaN

[6252 rows x 4 columns]

#### 02. Now we want to create a ```for loop``` to check if the elements of the ```column "Country"``` are detected by ```pycountry```.

In [48]:
valid_countries = []
for country in df['Country']:
    if pycountry.countries.get(name=country) is not None:
        valid_countries.append(country)

#### 03. Now we want the ```column "Country"``` to have only the values of the list ```valid_countries```.

In [49]:
df = df[df['Country'].isin(valid_countries)] #  using isin you can filter the rows according to whether the values belong to the valid_countries list or not.
df

,Date,Year,Country,Species
3,08-Jun-2018,2018.0,Australia,2 m shark
4,04-Jun-2018,2018.0,Mexico,"Tiger shark, 3m"
5,03-Jun-2018,2018.0,Australia,NaN
6,03-Jun-2018,2018.0,Brazil,Tiger shark
10,24-May-2018,2018.0,Australia,Grey reef shark
...,...,...,...,...
6295,Before 1906,0.0,Australia,Blue pointers
6296,Before 1906,0.0,Australia,Said to involve a grey nurse shark that leapt ...
6297,Before 1903,0.0,Australia,NaN
6298,Before 1903,0.0,Australia,NaN
6300,1883-1889,0.0,Panama,NaN

In [50]:
df["Country"].unique()

array(['Australia', 'Mexico', 'Brazil', 'South Africa', 'Thailand',
       'Costa Rica', 'Maldives', 'Bahamas', 'New Caledonia', 'Ecuador',
       'Malaysia', 'Libya', 'Cuba', 'Mauritius', 'New Zealand', 'Spain',
       'Samoa', 'Solomon Islands', 'Japan', 'Egypt', 'Comoros',
       'French Polynesia', 'United Kingdom', 'United Arab Emirates',
       'Philippines', 'Indonesia', 'China', 'Fiji', 'Dominican Republic',
       'Cayman Islands', 'Aruba', 'Mozambique', 'Puerto Rico', 'Italy',
       'Greece', 'France', 'Papua New Guinea', 'Kiribati', 'Israel',
       'Jamaica', 'Guam', 'Seychelles', 'Belize', 'Nigeria', 'Tonga',
       'Canada', 'Croatia', 'Saudi Arabia', 'Chile', 'Kenya', 'Malta',
       'Madagascar', 'Panama', 'Somalia', 'Norway', 'Senegal', 'Yemen',
       'Sierra Leone', 'Liberia', 'Vanuatu', 'Honduras', 'Sri Lanka',
       'Uruguay', 'India', 'Marshall Islands', 'Hong Kong', 'El Salvador',
       'Angola', 'Bermuda', 'Montenegro', 'Tunisia', 'Namibia',
       'Portugal', 'Bangladesh', 'Palau', 'Grenada', 'Iraq', 'Turkey',
       'Singapore', 'Sudan', 'Nicaragua', 'American Samoa', 'Gabon',
       'Mayotte', 'Argentina', 'Martinique', 'Guatemala',
       'Northern Mariana Islands', 'Slovenia', 'Iceland', 'Barbados',
       'Monaco', 'Guyana', 'Haiti', 'Ireland', 'Kuwait', 'Cyprus',
       'Lebanon', 'Paraguay', 'Georgia', 'Tuvalu', 'Guinea',
       'Cook Islands', 'Peru', 'Algeria', 'Ghana', 'Greenland', 'Sweden',
       'Djibouti'], dtype=object)

#### 04. Now we want to define a ```function``` to check if the countries are from ```North``` or ```South``` hemisphere with ```pycountry```

def get_hemisphere(country):
    try:
        info = pycountry.countries.get(name=country)
        lat = info.latitude

        if lat >= 0:
            return "North"
        else:
            return "South"
    except:
        return "Error"

### MONTHS / SEASONS

#### 01. I need to create a ```column``` with the ```months``` of the year based on the column "Date"

In [54]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce') # Convert the 'Date' column to datetime format.
df['Month'] = df['Date'].dt.month # Create a column 'Month' with the values of the months
#df['Day'] = df['Date'].dt.day # Create a column 'Day' with the values of the days
df

           Date    Year     Country         Species   Month Seasons
3    2018-06-08  2018.0   Australia        2 m shark      6  Summer
4    2018-06-04  2018.0      Mexico  Tiger shark, 3m      6  Summer
5    2018-06-03  2018.0   Australia              NaN      6  Summer
6    2018-06-03  2018.0      Brazil      Tiger shark      6  Summer
10   2018-05-24  2018.0   Australia  Grey reef shark      5  Spring
...         ...     ...         ...              ...    ...     ...
6124 1807-01-12  1807.0   Australia              NaN      1  Winter
6136 1788-05-10  1788.0   Australia              NaN      5  Spring
6140 1784-12-12  1784.0     Jamaica              NaN     12  Winter
6141 1783-03-02  1783.0  Martinique              NaN      3  Spring
6160 1703-03-26  1703.0    Barbados              NaN      3  Spring

[2077 rows x 6 columns]

#### 03. I need to create a ```column``` with the ```seasons``` of the year grouping the months in the column "Month"

In [52]:
def season_function(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'No Season'

df['Seasons'] = df['Month'].apply(season_function)
df = df.drop(df[df['Seasons'] == 'No Season'].index)
df

/var/folders/d2/c8nbsrk920lgrdq2nn0mv1t00000gn/T/ipykernel_11466/2948494714.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Seasons'] = df['Month'].apply(season_function)

           Date    Year     Country         Species   Month Seasons
3    2018-06-08  2018.0   Australia        2 m shark    6.0  Summer
4    2018-06-04  2018.0      Mexico  Tiger shark, 3m    6.0  Summer
5    2018-06-03  2018.0   Australia              NaN    6.0  Summer
6    2018-06-03  2018.0      Brazil      Tiger shark    6.0  Summer
10   2018-05-24  2018.0   Australia  Grey reef shark    5.0  Spring
...         ...     ...         ...              ...    ...     ...
6124 1807-01-12  1807.0   Australia              NaN    1.0  Winter
6136 1788-05-10  1788.0   Australia              NaN    5.0  Spring
6140 1784-12-12  1784.0     Jamaica              NaN   12.0  Winter
6141 1783-03-02  1783.0  Martinique              NaN    3.0  Spring
6160 1703-03-26  1703.0    Barbados              NaN    3.0  Spring

[2077 rows x 6 columns]

### SPECIES

#### 01. I need to ```remove null values``` from "Month"column

In [56]:
list(df['Species '].unique())

['2 m shark',
 'Tiger shark, 3m',
 nan,
 'Tiger shark',
 'Grey reef shark',
 'Shark involvement not confirmed',
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'White shark, 2.5 m',
 'Juvenile bull shark',
 'Bull shark',
 'White shark',
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Blacktip shark',
 'Juvenile white shark,  2.7 to 3.2 m',
 'Bull shark, 2 m',
 'Possibly a wobbegong',
 'Injury believed caused by an eel, not a shark',
 'Galapagos shark?',
 '2m shark',
 'Bull shark, 3 m ',
 'Grey reef shark. 2 m',
 'small shark',
 'Wobbegong shark?',
 'Juvenile nurse shark',
 "Nurse shark. 5'",
 'White shark, 3 m',
 'Shark involvement questionable',
 "5' shark",
 'Oceanic whitetip shark, 1.8 to 2 m',
 "Blue shark 6'",
 'Shark involvement prior to death not confirmed',
 'White shark, 4 m',
 'Seven-gill shark',
 "10' shark",
 'Bull shark, 1.5',
 'Lemon shark pup',
 'Caribbean reef shark',
 'Bull shark, 4 m',
 'Bull shark, 1 m',
 'a small shark',
 'Wobbegong shark, 2m',
 'Blue shark',
 "Bull shark, 6'",
 'reef shark, 1m',
 'Tawny nurse shark',
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 "Mako shark, 1.5 m [5'] ",
 'Grey reef shark, 2 m',
 'Tiger shark, 2.5 m',
 'Nurse shark, 2.5-ft',
 'Sandtiger shark',
 'No shark involvement',
 "Silky shark, 6.5'",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m ',
 'White shark, 3.9 to 4.2 m',
 'Bronze whaler shark, 1.5m',
 "6' shark",
 'White shark, 2m to 3 m',
 '1m to 1.2 m shark',
 'Bull shark, 3.5 m',
 'White shark, 6 m',
 'Shark involvement not cofirmed',
 'Blacktip Reef shark ',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 'Bull shark, 1.3 m',
 '5 m shark',
 '1.5 m shark',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 'White shark, 4 to 5 m',
 'Shark involvement prior to death still to be determined',
 'Shark involvement not confirmed & highly unlikely',
 'reef shark',
 "Bull shark, 9' to 10'",
 'Angel shark',
 "Caribbean reef shark, 7' to 8'",
 ' Bull shark, 1.2m ',
 '3m shark',
 ' Tawney nurse shark, 1m',
 " white shark, 15' ",
 'Cow shark',
 'reef shark?',
 ' Raggedtooth shark, 2m',
 '3 m to 4 m white shark',
 'Invalid',
 'Blacktip reef shark ',
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 ' Wobbegong shark, 1.6 to 1.8m ',
 "Mako shark, 5'",
 'Nurse shark',
 'Galapagos shark',
 'Wobbegong, 2m',
 'Grey nurse shark, 3m',
 'Possibly a blacktip reef shark',
 'Raggedtooth shark, 1.5 m',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 'White shark, 4m',
 'Lemon shark',
 'White shark, 5m',
 'Bronze whaler shark, 3m',
 '2.5 m shark',
 'Bull shark, 2m ',
 "Tiger shark, 6'",
 '4.5 m shark',
 'Lemon shark, 2.5m to 3m ',
 'White shark or bronze whaler',
 'Salmon shark suspected, but unlikely',
 "15' shark",
 'Blue shark, 2.5m',
 'White shark, 2 m',
 'Bull shark, 3m',
 'White shark, 4 m to 5m ',
 'White shark, 6m ',
 'White shark, 4m ',
 'Possibly a bull shark',
 'Tawny nurse shark, 40cm',
 'Grey nurse shark',
 'White shark, 7m',
 'White shark, 2.7 m',
 'Thought to involve a bull shark',
 'Allegedly a 4 m tiger shark',
 'White shark, 2.5m',
 "White shark, >6'",
 'Grey reef shark ',
 'White shark, 3m to 4m',
 'Bull shark, 3m female',
 'Zambesi shark',
 ' Tiger shark, 2.8m',
 'reef shark, 1.5m',
 'possibly a bronze whaler shark',
 ' Bull shark, 2.5 m',
 'Bull shark, 2.5m',
 '3 m to 4 m shark',
 'White shark x 2',
 '1 m shark',
 'Oceanic whitetip shark, 2.5m ',
 'Mako shark ',
 'Shark involvement prior to death was not confirmed',
 "Oceanic whitetip shark, 6'",
 'Wobbegong shark, 1.6m',
 'Thought to involve a juvenile hammerhead shark',
 'Whitetip reef shark, 1m',
 'Zambesi shark, 2m ',
 'White shark, 2.8 to 3 m ',
 'White shark, 2m',
 "Caribbean reef shark, 6'",
 'Thought to involve a Bronze whale shark, 2m',
 'Oceanic whitetip shark',
 'Oceanic whitetip shark, 2.5 to 3m',
 "Blacktip shark, 4'",
 "7' shark",
 "2' to 3' shark",
 'Raggedtooth shark',
 'Bronze whaler shark?',
 'Blue shark, 1m',
 '2.6 m shark',
 'White shark, 2.5m ',
 'Bull shark, 2.7 m ',
 "White shark, 12' ",
 'White shark, 5.5 m ',
 'Dusky shark, 2m',
 'White shark, 3.5m',
 'Broadnose sevengill shark',
 'White shark, 4m to 5m ',
 '4 to 5m white shark',
 'Raggedtooth shark, 2m',
 'White shark, 4.5 to 5 m ',
 "8' white shark or 7-gill shark",
 "3'  shark",
 "2'  shark",
 "Bull shark, 6' to 7'",
 'Tiger sharks in area',
 '2 small bull sharks',
 'Bull shark, 1.8m',
 'Tiger shark, 2.3m ',
 'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
 'Shark involvement not confirmed; thought to be a barracuda bite',
 'A bull shark, according to some of the divers on the boat',
 'Blacktip shark, 2m',
 'Mako shark, 90kg',
 'Bronze whaler shark, 4m',
 '"a small shark"',
 'Not a shark attack; it was a hoax',
 '2.27 m shark',
 "3' small spotted catshark, Scyliorhinus canicula",
 "Bull shark, 5' ",
 '2 to 2.5 m shark',
 'White shark, 3m',
 '2.4 m shark',
 '2.5 to 3 m shark',
 '2 to 3 m shark',
 'Raggedtooth shark, 150-kg',
 'White shark, 5m ',
 'Shark involvement not confirmed, injury may have been caused by a bluefish',
 'Bull or tiger shark',
 "14' white shark",
 'Wobbegong shark, 2 m ',
 'Bronze whaler shark, a  juvenile ',
 'Raggedtooth shark, 2.5 m to 3 m ',
 "Tiger shark, 5' ",
 'Bronze whaler shark, 2 m',
 '4.5 m white shark',
 '3.5 m white shark',
 'Said to involve a 1.5 m shark',
 'Whitetip reef shark',
 "3.5 m [11.5']shark",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 "2 m [6.75'] copper shark",
 'Bronze whaler shark',
 "4 m [13'] shark",
 "6 m [20'] white shark",
 "Bronze whaler shark, 4.3 m [14'] ",
 "3 m [10'] shark",
 "Bronze whaler shark, 2 m to 3 m [6.75' to 10']  ",
 '4.5 m & 5 m white shark ',
 '2 sharks, 4.5 m & 3 m ',
 '"black tipped" shark',
 "Bronze whaler shark, 2.5 m [8.25'] ",
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "Wobbegong shark, 1.2 m [4'] k",
 "White shark, 5.5 m [18']",
 'small sharks',
 'Questionable Incident',
 "5 m [16.5'] white shark",
 'bull shark',
 "Bronze whaler shark, 1.5 m [5'] ",
 "2 m [6.75'] sevengill  shark",
 '60 cm [23.6"] blind or brown shark',
 "4 m to 5 m [13' to 16.5'] white shark",
 'Possibily a  1.5 to 2 m sandtiger shark',
 'Shark involvement doubtful',
 "Raggedtooth shark, 3.5 m [11.5'] ",
 'Shortfin mako shark',
 "3.5 m [11.5'] white shark",
 'Unidentified species',
 "2.1 m  [7'] bull shark",
 "2.5 m [8.25'] white shark",
 "Thought to involve a 2 m [6.75'] grey nurse shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 "Bull shark, 7'",
 'Reported to involve a hammerhead shark',
 'White shark, 4 m white shark',
 'Wobbegong shark, 1m',
 'Shark involvement not confirmed, injury may be due to a stingray',
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "White shark, 6m [20']",
 'Bull shark, 400-lb ',
 'Shark involvement prior to death unconfired',
 '1.5 m [5\'] "whaler shark"',
 'C. leucas tooth fragment recovered from kayak',
 "Tiger shark, 3 m [10']",
 'Zambesi shark?',
 'Unidentified',
 "3 m [10'] bull shark",
 "1.9 m [6.5'] bull shark",
 "White shark, 2.7 m to 3 m [9' to 10'] ",
 "White shark, 2.7 m [9'] ",
 "White shark, 5 m [16.5'] ",
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "2 m [6.75'] shark",
 "White shark, 4.3 m [14'] ",
 "6 m [20'] shark",
 'White shark, 4.5 m [14\'9"] ',
 "Porbeagle shark, 3 m [10']rk",
 "Grey reef shark, 2 m [6.75'] ",
 "Mako shark, 2 m [6.75'] ",
 'Tiger sharks & bull sharks (20 sharks in all)',
 'Tiger shark?',
 "Tiger shark, 4 m [13'] ?",
 "2 m to 2.5 m [6.75'  to 8.25'] shark",
 'White shark, 2.5 m ',
 'Sevengill shark',
 'Thought to involve a white, bull or tiger shark',
 "2.7 m [9']  bull shark or Caribbean reef shark",
 "White shark, 3 m to 5 m [10' to 16.5'] ",
 "White shark, 4 m [13'] ",
 'Thought to involve a white shark',
 "Tiger shark, 2.5 m [8.25']",
 'Grey reef shark, 1.5 m ',
 '200 to 300 kg shark',
 'Mako shark, 1.3 m gaffed ',
 'Bronze whaler or tiger shark',
 "Caribbean reef shark, 1.2 m to 1.5 m [4' to 5'] ",
 'Sandtiger shark, 2 m, male ',
 "White shark, 4.9 m [16']",
 "Raggedtooth shark, 1.2 m [4'] ",
 "5' to 6' shark",
 'Thought to involve a 5.5 m white shark named Kong',
 "3 m to 4 m [10' to 13'] white shark",
 "4 m [13'] white shark",
 "3 m [10'] white shark",
 'Small dusky shark or blackfin shark',
 "Tiger shark, 5.2 m [17']",
 'Thought to involve an oceanic whitetip shark or a white shark',
 "Tiger shark, 2.7m  [9']",
 'Possibly a Caribbean reef shark',
 '3.7m  to 4.2 m white shark',
 'Tiger shark, 2m to 3m ',
 "1.8 m to 2.1 m [6' to 7'] shark",
 'Tiger shark, 4.5 m [14\'9"]',
 '4 m white shark',
 "2.5 m [8.25'] white shark ",
 'Shark involvement prior to death suspected but not confirmed',
 '"reef shark"',
 "Mako shark, 4.3 m [14']",
 '"small shark"',
 'Though to involve a tiger shark',
 "3.7 m [12'] shark",
 'Bronze whaler shark, 2 m ',
 "Tiger shark, 1.8 m [6'] ",
 ' ',
 "5.5 m [18'] white shark",
 "1.8 m [6'] shark",
 '4.9 m white shark',
 '3.6 m [11\'9"] white shark',
 '1.3 m [4\'3"] shark',
 "1.8 m [6'] blacktip shark or Caribbean reef shark",
 "Remains recovered from 5.5 m [18'] white shark",
 'Possiby white shark',
 "1.5 m [5'] shark",
 "1.8 m [6'] blacktip shark",
 'White shark, identification by K. Nakaya',
 "4 m [13'], 590-kg white shark",
 '>2 m shark',
 'Bronze whaler shark, 3 m',
 "5 m [16.5'] white shark, identification by K. Nakaya",
 "5 m [16.5'] shark",
 'Questionable incident',
 "Bronze whaler shark, 2.3 m [7.5'] ",
 "Zambesi shark, 1.7 m [5.5'] ",
 "Possibly a 1.5 m [5'] blacktip shark",
 "3 m [10'], 270- kg [595-lb] shark",
 "Tiger shark, >3 m [10']",
 '3.5 m [11.5\'] female white shark named "Notchfin"',
 '170-kg, 2.8 m shark',
 'Grey nurse shark, 2 m',
 '4 m shark',
 '4.5 m [14\'9"] white shark',
 "1.2 m to 1.5 m [4' to 5'] shark",
 '6 m, 600-kg shark',
 '2 m hammerhead',
 "5.5 m [18'] white shark, identified by witnesses & tooth marks",
 "2.3 m [7.5'] white shark, identified by M. Smale",
 'Tiger shark, 3 m ',
 ">3.4 m [11'] white shark",
 "Bronze whaler shark, 3 m [10'] ",
 'Shark involvement suspected but not confirmed',
 "2 m [6.75'] white shark",
 'Tiger shark, 3.5 m ',
 "3 m [10'] gaffed shark",
 "Tiger shark, 4 m [13'] ",
 "16' white shark",
 '2 m to 2.5 m shark',
 "1.5 m [5'] Caribbean reef shark",
 "1.5 m to 2 m [5' to 6.75'] shark",
 '1 m "grey-colored" shark',
 'Zambezi shark (tooth fragments recovered)',
 "Mako shark, 3 m [10'], 200-kg [441-lb] ",
 '1.5 m copper shark',
 '4.3 m shark',
 'Bronze whaler shark, 2 m to 3 m ',
 '3 m white shark',
 ">2.5 m [8.25'] white shark",
 "Raggedtooth shark, 2.5 m [8.25'] ",
 "Tooth fragment of a white shark recovered. Authorities believed shark was 6 m [20']  total length",
 '>1 m shark',
 ">2.4 m [8'] white shark",
 "Raggedtooth shark, 2 m [6.75'] ",
 'Bronze whaler shark, 3.5 m ',
 '30-kg [66-lb] shark',
 '3.5 m white shark, tooth fragments recovered',
 '6 m shark',
 "2.4 m [8'] white shark",
 "2.5 m [8.25'] shark",
 'Raggedtooth shark, 56-kg [123-lb] ',
 " 1.5 m [5'] dusky shark",
 '1.5 m white-tipped reef shark',
 'Raggedtooth shark, 1 m ',
 "12' white shark",
 'Raggedtooth shark, >1 m ',
 "Tiger shark, 5 m [16.5']",
 "3 m to 4 m [10' to 13'] shark",
 "6' blacktip shark",
 "Raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)",
 "1.8 m [6'] Zambezi shark",
 'Blacktip or spinner shark',
 "2.4 m [8'] white shark, species identity confirmed by tooth fragment",
 "2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard",
 'Lemon shark, 2 m [6\'9"]',
 "5.5 m [18''] white shark",
 'Mako shark (tooth fragments recovered)',
 "Possibly a  1.8 m [6'] Zambezi shark",
 '"gray shark"',
 "Tiger shark, 2.1 m [7']",
 'Juvenile dusky or blacktip shark',
 '1 m hammerhead shark',
 "1.5 m [5'] hammerhead shark",
 '2.8 m [9\'3"] white shark',
 '2.2 m shark',
 '2 m [6\'9"] Zambesi shark',
 'Hammerhead shark',
 'Raggedtooth shark, 2 m [6\'9"] ',
 'White shark?',
 "White shark, 2.3 m [7.5'], tooth fragment recovered",
 '270 kg shark',
 'Thought to involve a blacktip shark',
 'Mako shark, 2.3 m, 150-kg  ',
 'Mako shark, 180-kg [397-lb]',
 'Whale shark',
 'White shark named \x93Spotty\x94',
 "White shark, 3 m [10'] ",
 "2.4 m [8'] shark",
 "Grey nurse shark, 10' ",
 "White shark, 2.4 m [8']",
 "12' shark",
 "2.4 m [8'] whaler shark",
 'White shark, 600-kg [1323-lb]',
 "1.5 m [5']  shark",
 "Carpet shark, 10' ",
 'Copper shark, 50-kg [110-b] ',
 "Raggedtooth shark, 1.5 m [5'] ",
 'Juvenile dusky shark',
 '2 m to 3 m shark',
 "White shark, > 3 m [10']",
 "White shark, 10'",
 '1.5 m grey reef shark',
 "White shark, 2.5 m [8.25'] ",
 "White shark, 3 m [10']rk",
 "Grey nurse shark, 11'",
 "White shark, 3 m [10'], species identity confirmed by witnesses & tooth pattern in leg & board ",
 'White shark according to tooth pattern and witnesses',
 "White shark, 4.6 m [15'] ",
 'Raggedtooth shark, 2 m [6\'9"], 5-year-old, captive female ',
 'Considered a "Doubtful" incident',
 "2 scalloped hammerhead sharks, 1.5 m & 1.8 m [5' & 6']",
 "1.5 m to 2 m [5' to 6.75'] Caribbean reef shark ",
 "Bronze whaler shark, 1.8 m [6'] ",
 '"Blue whaler" (Galeolamna)',
 "1.5 m to 1.8m [5' to 6'] shark",
 "3' shark",
 "1.5 m to 1.8 m [5' to 6'] shark",
 'White shark or thresher shark',
 "2.1 m [7'] sandtiger shark",
 '"sand shark"',
 "2.1 m [7'] shark",
 "Grey nurse shark, 1.5 m [5'] ",
 "Grey nurse shark, 1.5 m [5']",
 'Believed white shark and other smaller species of sharks involved.',
 "Alleged to involve a White shark, 7.6 m [25'] ",
 "White shark, 2.5 m [8.25'], an immature female, previously injured",
 'Copper shark',
 "Wobbegong shark, 5' ",
 "1.5 m to 1.8 m [5' to 6'] Zambesi shark",
 "76 cm [2.5'] carpet shark",
 '1.8 m to 2 m [6\' to 6\'9"] shark',
 "1.8 m [6'] carpet shark",
 'Lemon shark, 0.5 m',
 'Tiger shark, tooth fragment recovered',
 "1.8 m [6'], 136-kg [300-lb] shark ",
 "White shark, 3.7 m [12'] ",
 'Raggedtooth shark ',
 "4.6 m [15'] shark",
 "1.8 to 2.4 m [6' to 8'] shark",
 'Lemon shark ',
 "White shark, 1.5 m [5'] k",
 "White shark, 3 m to 3.7 m [10' to 12'] ",
 'White shark, 3.6 m [11\'9"] ',
 'Wobbegong',
 "2.1 m to 2.4 m  [7' to 8'] shark",
 "Zambesi shark, 1.8 m [6'] ",
 "1.8 m [6']  shark",
 "4.3 m [14'], 1000-lb shark",
 'Dusky shark, 1 m ',
 "Wobbegong shark, 3' ",
 "White shark, 1.7 m [5.5']",
 '300- to 400-lb Zambesi shark',
 'White shark, 3 m ',
 "1.8 m to 2.4 m  [6' to 8'] shark",
 "White shark, 2.1 m [7'] ",
 'Tooth fragments of \x93whaler\x94 shark were recovered, a bull shark, according to Edwards',
 '193-lb shark',
 "Grey nurse shark, 1.8 m [6'] ",
 '<1.5 m shark',
 'Zambesi shark, 2 m [6\'9"] ',
 "White shark, 16', 2,312-lb ",
 "White shark, 4.3 m [14'] (or bronze whaler)",
 '"A long thin brown-colored shark"',
 "4.3 m [14'] shark",
 '2 m [6\'9"] shark',
 "2.7 m to 3 m [9' to 10'] sharks",
 'Possibly a bronze whaler shark',
 "Bronze whaler shark, 3.7 m [12'] ",
 "Zambesi shark, 1.2 m [4'] ",
 "4.9 m [16']shark",
 "1.8 m [6'] shark ",
 "Bronze whaler shark, 4.6 m [15'] ",
 "1.2 m  [4'] shark",
 '60 cm  shark ',
 "Bronze whaler shark,  3m [10'] ",
 'Said to involve a 4.9 m [16\'] "red shark"',
 " Grey nurse shark,  3 m [10'] ",
 "Bronze whaler shark, 2.1 m [7'] shark",
 "Said to involve a Grey nurse shark 3.7 m [12'] ",
 '36"  shark',
 "2.7 m [9'] shark",
 "Grey nurse shark, 2.4 m [8'] ",
 "Next morning a 3 m [10'] shark was caught that had Andrews' leg in its gut",
 "Blacktip shark, 1.8 m to 2.1 m [6' to 7'] ",
 "White shark, 5.2 m [17'], 2500-lb ",
 "2.7 m [9']shark",
 'Wobbegong shark, 1.4 m [4\'6"] ',
 '2 m  "yellow belly" captive shark. Shark destroyed by aquarium staff next day',
 "Wobbegong shark, O. barbatus,  1.8 m [6'], identified by G.P. Whitley",
 ' "gummy" shark (Rhizoprionodon or Loxodon) 1.2 m [4\']',
 "Grey nurse shark, 2,7 m [9'], 200-lb ",
 "Bronze whaler shark, 2.4 m [8'] Identified by Clyde Buttery",
 'Zambesi shark, 4\'9"',
 '2\' "banjo shark"',
 "2.1 m [7'], 90-kg shark",
 "Grey nurse shark, 2.7 m [9'] ",
 "Wobbegong shark, 1.5 m [5'] ",
 'White shark, based on bite pattern',
 "Hammerhead shark, 1.8 m [6'] ",
 "Six Zambesi sharks seen to 1.5 m [5'] in length",
 "White shark, 3 m [10'], tooth fragment from wounds identified as that of a white shark",
 'Grey nurse shark, 1m ',
 'Bull shark, 1m ',
 'White shark, 15\'2" ',
 "Dusky shark, 2.7 m [9'] dusky shark C. obscurus identified by S. Springer on tooth recovered",
 "White shark, 2.1 m [7']  based on tooth pattern",
 "Bronze whaler shark, 3 m [10'], 200-lb",
 "Sandtiger shark, 2.1 m [7'] ",
 "Bronze whaler shark, 3.7 m [12'] identified by G.P. Whitley based on description",
 "1.2 m [4'] shark",
 "Two 2.1 m [7'] sharks",
 "Bronze whaler shark,4 m [13'] ",
 "Tiger shark, 3.4 m [11'] captured",
 "Tiger shark, 14' ",
 'Grey nurse shark, 2.9 m [9\'6"] ',
 '3.5 m [11\'6"] shark captured',
 'Blue pointer',
 "4.9 m [16'] shark",
 "3.7 m [12'] tiger shark",
 "2.4 m  [8'] shark",
 "2.7 m [9']  shark",
 '20 kg shark',
 "Blue shark, 3 m [10']",
 'Blue shark?',
 "White shark, 2.7 m [9'], 280-lb ",
 "Mako shark, 2.4 m [8'], <300-lb, identified by Dr. L.P. L. Schultz on photograph",
 "1.8 to 2.1 m [6' to 7'] shark",
 "Grey nurse shark, 1.8 m [6']",
 "Bitten by several 1.8 m [6'] sharks",
 "Said to involve 2 sharks: 5.2 m & 6 m [17' & 20'] ",
 "White shark, 1.8 m to 2.1 m [6' to 7']  according to Shreuder and a witness",
 "Hammerhead shark, 5.2 m [17'] ",
 ">3 m [10'] shark",
 "9' shark",
 'Shark seen feeding on turtle scraps thrown overboard prior to incident.',
 "2.4 m [8'] tiger shark caught 40 hours later with shorts of the boy in its gut",
 'Mako shark, 125-lb ',
 "Wobbegong shark, 4' ",
 "2.3 m [7'] shark",
 "Said to involve a 7 m [23'] white shark",
 "3.7 m [12'] shark & may have been another shark nearby",
 'White shark, 6.5 m ',
 "2.4 m [8']  shark",
 '3.6 m  white shark  (or bronze whaler)',
 "Bronze whaler shark,3.7 m [12'] ",
 'Nurse shark, 58", 34-lb ',
 '5m shark',
 "2.4 m [8'] shark, possibly a dusky shark",
 'White shark tooth fragment recovered from ankle & identified by Dr. W. I. Follett',
 "14' shark",
 "Said to involve a >4 m [13'] shark",
 "White shark, 3.7 m [12'], 500 to 500-kg [1,200 lb], identified by W. C. Shroeder based on tooth fragment ebedded in gunwale",
 "10' to 12' shark",
 '200-lb shark',
 'White shark, 15\'3", 2,333-lb ',
 "8' shark",
 "Wobbegong shark, 1.8 m [6'] ",
 "Wobbegong shark, 4'",
 "5.5 m [18'] shark",
 '136-kg [300-lb] shark',
 "Nurse shark, 10' ",
 '1,100-lb shark',
 'unknown, possibly a white shark',
 '2.13 m shark',
 "1.5 m to 1.8 m [5' to 6'] \x93spear-eye\x94 shark ",
 "White shark, 3.7 m [12']  according to witnesses",
 "Whaler shark, 2.7 m [9'], 350- to 450-lb  identified by G.P. Whitley",
 '3.3 m [10\'9"] shark',
 "His hand was found in a 2.4 m [8'] tiger shark caught 1/5/1949",
 '1.5 m, 45-kg shark',
 "Blacktip shark, 2 m [6.75'] ",
 '4.5  m [14\'9"] shark',
 '>1.6 m shark',
 'White shark, 4.2 m [13\'9"] ',
 'Thought to involve a Zambesi shark',
 "White shark, 2.4 m [8'] ",
 'White shark, 3.9 m, 550 kg, male',
 'Porbeagle shark',
 "Bull shark, 4 m [13'] ",
 'Shark involvement prior to death unconfirmed',
 'White shark, species identity confirmed by tooth pattern',
 'White shark, 160-kg [353-lb], identity confirmed by tooth pattern',
 "Questionable incident, said to involve a 6' shark",
 "2.6 m [8.5'] shark landed 2 hours later",
 "Nurse shark, 2.1 m [7']",
 '"a large shark"',
 'Thought to involve bull sharks',
 " Tiger shark, 3'",
 "Tiger shark, 9' to 10' ",
 "Whaler shark, 4 m [13'] ",
 '2 days later a 600-lb shark was caught 100 yards from the site',
 '3\' "blue nosed" shark',
 "Grey nurse shark, 8'",
 "Thought to involve a 12' white shark",
 'Large tiger shark seen in the vicinity the following morning',
 "Shovelnose shark, 6 m [20'] ",
 "Tiger shark, 2.4 m [8']",
 "Tiger shark, 4.6 m [15'] ",

In [57]:
#sns.countplot(x=df_months["Month"], palette="magma");

01. I need to create a column with the months of the year based on the column "Date"

In [58]:
df['Species'] = df['Species '].str.replace(r'.*bull.*', 'BULL', case=False, regex=True) 
df['Species'] = df['Species '].str.replace(r'.*mako.*', 'MAKO', case=False, regex=True)
df['Species'] = df['Species '].str.replace(r'.*white shark.*', 'WHITE SHARK', case=False, regex=True)
df['Species'] = df['Species '].str.replace(r'.*tiger.*', 'TIGER', case=False, regex=True)
df['Species'] = df['Species '].str.replace(r'.*blacktip.*', 'BLACKTIP', case=False, regex=True)
df

,Date,Year,Country,Species,Month,Seasons,Species
3,2018-06-08,2018.0,Australia,2 m shark,6,Summer,2 m shark
4,2018-06-04,2018.0,Mexico,"Tiger shark, 3m",6,Summer,"Tiger shark, 3m"
5,2018-06-03,2018.0,Australia,NaN,6,Summer,NaN
6,2018-06-03,2018.0,Brazil,Tiger shark,6,Summer,Tiger shark
10,2018-05-24,2018.0,Australia,Grey reef shark,5,Spring,Grey reef shark
...,...,...,...,...,...,...,...
6124,1807-01-12,1807.0,Australia,NaN,1,Winter,NaN
6136,1788-05-10,1788.0,Australia,NaN,5,Spring,NaN
6140,1784-12-12,1784.0,Jamaica,NaN,12,Winter,NaN
6141,1783-03-02,1783.0,Martinique,NaN,3,Spring,NaN
6160,1703-03-26,1703.0,Barbados,NaN,3,Spring,NaN

In [59]:
shark_species = ['MAKO', 'TIGER', 'WHITE SHARK', 'BULL', 'BLACKTIP']

df[df['Species '].isin(shark_species)]

Empty DataFrame
Columns: [Date, Year, Country, Species , Month, Seasons, Species]
Index: []

In [60]:
df.dropna(subset=['Month'], inplace=True)
df

,Date,Year,Country,Species,Month,Seasons,Species
3,2018-06-08,2018.0,Australia,2 m shark,6,Summer,2 m shark
4,2018-06-04,2018.0,Mexico,"Tiger shark, 3m",6,Summer,"Tiger shark, 3m"
5,2018-06-03,2018.0,Australia,NaN,6,Summer,NaN
6,2018-06-03,2018.0,Brazil,Tiger shark,6,Summer,Tiger shark
10,2018-05-24,2018.0,Australia,Grey reef shark,5,Spring,Grey reef shark
...,...,...,...,...,...,...,...
6124,1807-01-12,1807.0,Australia,NaN,1,Winter,NaN
6136,1788-05-10,1788.0,Australia,NaN,5,Spring,NaN
6140,1784-12-12,1784.0,Jamaica,NaN,12,Winter,NaN
6141,1783-03-02,1783.0,Martinique,NaN,3,Spring,NaN
6160,1703-03-26,1703.0,Barbados,NaN,3,Spring,NaN

In [61]:
df_1 = df[["Month", "Species "]].dropna()
df_1

      Month                                      Species
3         6                                     2 m shark
4         6                               Tiger shark, 3m
6         6                                   Tiger shark
10        5                               Grey reef shark
16        5               Shark involvement not confirmed
...     ...                                           ...
6009      4                                  234-lb shark
6014     12  Shark involvement prior to death unconfirmed
6021      2                                  White sharks
6035      1  Shark involvement prior to death unconfirmed
6072      4                               "a large shark"

[1243 rows x 2 columns]

In [ ]:
sns.countplot(x=df_1["Month"], hue=df_1["Species "], palette="magma");

/Users/begui/miniconda3/envs/ironhack/lib/python3.9/site-packages/IPython/core/events.py:89: UserWarning: Glyph 147 (\x93) missing from current font.
  func(*args, **kwargs)
/Users/begui/miniconda3/envs/ironhack/lib/python3.9/site-packages/IPython/core/events.py:89: UserWarning: Glyph 148 (\x94) missing from current font.
  func(*args, **kwargs)
/Users/begui/miniconda3/envs/ironhack/lib/python3.9/site-packages/IPython/core/pylabtools.py:151: UserWarning: Glyph 147 (\x93) missing from current font.
  fig.canvas.print_figure(bytes_io, **kw)
/Users/begui/miniconda3/envs/ironhack/lib/python3.9/site-packages/IPython/core/pylabtools.py:151: UserWarning: Glyph 148 (\x94) missing from current font.
  fig.canvas.print_figure(bytes_io, **kw)

## TIME

In [ ]:
 TIME

# DRAFT

In [ ]:
list(df.columns)

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df.Country.unique()

In [ ]:
list(df.Time.unique()) # get the unique values

In [ ]:
list1= list(df.Country.unique())
list1

In [33]:
country_name = 'MID ATLANTIC OCEAN'
country_obj = pycountry.countries.get(name=country_name)
if country_obj is not None:
    print(f"{country_name} EXISTS in pycountry")
else:
    print(f"{country_name} does not exist in pycountry")

MID ATLANTIC OCEAN does not exist in pycountry

In [ ]:
df['Country'] = df['Country'].apply(lambda x: x.title())

# Filtering

In [ ]:
df.Year ==