# LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pycountry
import warnings
warnings.filterwarnings('ignore')

#### Import ```attacks.csv```

In [2]:
pd.set_option ("display.max_columns", None) # Display all the columns
df = pd.read_csv("data/attacks.csv", encoding="latin1") # Read file

## Hipothesis 1: 
### Are sharks more attacks according to the continent?
## Hipothesis 2: 
### Are sharks more aggressive according to the season of the year?
## Hipothesis 3: 
### ¿?

![shark](https://media.giphy.com/media/PfHrNe1cSKAjC/giphy.gif)

<div style="background-color: yellow;">
.
</div>

# 01.CLEANING

In [3]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

#### 01.Remove the ```columns```  we don't need.

In [4]:
df.drop(columns=["Investigator or Source", 
                 "pdf", 
                 "href formula", 
                 "href", 
                 "Case Number.1", 
                 "Case Number.2", 
                 "original order", 
                 "Unnamed: 22",
                 "Unnamed: 23",
                 "Name",
                 "Location",
                 "Case Number",
                 "Area",
                 "Age",
                 "Sex ",
                 "Time",
                 "Fatal (Y/N)",
                 "Type",
                 "Year",
                 "Activity",
                 "Injury"], 
        axis=1, inplace=True)

#### 02. Remove the ```rows``` we don't need

In [5]:
df.dropna(axis = 0, how = 'all', inplace = True)
df

             Date             Country         Species
0     25-Jun-2018                 USA      White shark
1     18-Jun-2018                 USA              NaN
2     09-Jun-2018                 USA              NaN
3     08-Jun-2018           AUSTRALIA        2 m shark
4     04-Jun-2018              MEXICO  Tiger shark, 3m
...           ...                 ...              ...
6297  Before 1903           AUSTRALIA              NaN
6298  Before 1903           AUSTRALIA              NaN
6299    1900-1905                 USA              NaN
6300    1883-1889              PANAMA              NaN
6301    1845-1853  CEYLON (SRI LANKA)              NaN

[6302 rows x 3 columns]

<div style="background-color: yellow;">
.
</div>

# 02.TRANSFORMING
### (1) CONTINENTS - HEMISPHERE
### (2) SEASON
### (2) TYPE SHARK

    (1) Continents:
        - Asia
        - Europe
        - North America
        - South America
        - Oceania
        - Africa
        
    (2) Seasons:
        ASIA, EUROPE, NORTH AMERICA
        - Winter: Dec(12), Jan(1), Feb(2)
        - Spring: Mar(3), Apr(4), May(5)
        - Summer: Jun(6), Jul(7), Aug(8)
        - Autumn: Sep(9), Oct(10), Nov(11)
        
        SOUTH AMERICA, AFRICA, OCEANIA
        - Winter: Dec(12), Jan(1), Feb(2)
        - Spring: Mar(3), Apr(4), May(5)
        - Summer: Jun(6), Jul(7), Aug(8)
        - Autumn: Sep(9), Oct(10), Nov(11)
        
    (3) Type Sharks:
        - White Shark: WHITE
        - Bull Shark: BULL
        - Mako Shark: MAKO
        - Tiger Shark: TIGER
        - Blacktip Shark: BLACKTIP

### (1) COUNTRY to CONTINENTS to HEMISPHERE
We want to create a column called "Continents" according to the name of the countries in the "Country" column.

#### 01. First the ```formatting``` of the countries must be modified to ```capitalize the first letter of each word```.
This way the pycountry library will be able to read the names correctly.

(pycountry library needs to receive the names as strings with the first letter capitalized)

In [6]:
# Remove the NaN values from the Country column,
# otherwise will get an error trying to capitalize floats.
df.dropna(subset=['Country'], inplace=True)

In [7]:
# split(): the original string is split into words
# capitalize(): capitalizes the first letter of each word
# join(): the words are joined using the join() method.
df['Country'] = df['Country'].apply(lambda x: ' '.join([word.capitalize() for word in x.split()]))
df

             Date             Country         Species
0     25-Jun-2018                 Usa      White shark
1     18-Jun-2018                 Usa              NaN
2     09-Jun-2018                 Usa              NaN
3     08-Jun-2018           Australia        2 m shark
4     04-Jun-2018              Mexico  Tiger shark, 3m
...           ...                 ...              ...
6297  Before 1903           Australia              NaN
6298  Before 1903           Australia              NaN
6299    1900-1905                 Usa              NaN
6300    1883-1889              Panama              NaN
6301    1845-1853  Ceylon (sri Lanka)              NaN

[6252 rows x 3 columns]

In [8]:
len(df["Country"].unique())

201

#### 02.  Now we will use ```pycountry``` library to check if the elements of the ``Country`` column are countries. We have to create a ```for loop``` contained in a comprehension list.

In [9]:
lst_countries = [country for country in df['Country'] if pycountry.countries.get(name=country)]
lst_countries

['Australia',
 'Mexico',
 'Australia',
 'Brazil',
 'Australia',
 'Australia',
 'South Africa',
 'Australia',
 'Thailand',
 'Costa Rica',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Maldives',
 'South Africa',
 'Thailand',
 'Brazil',
 'Australia',
 'Australia',
 'Bahamas',
 'Brazil',
 'New Caledonia',
 'Bahamas',
 'South Africa',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Brazil',
 'Ecuador',
 'Australia',
 'Australia',
 'New Caledonia',
 'Australia',
 'Australia',
 'Brazil',
 'Australia',
 'Malaysia',
 'Bahamas',
 'Costa Rica',
 'Costa Rica',
 'Libya',
 'Australia',
 'Cuba',
 'Australia',
 'Australia',
 'Mauritius',
 'Australia',
 'New Zealand',
 'South Africa',
 'Australia',
 'Spain',
 'South Africa',
 'Samoa',
 'Australia',
 'Australia',
 'Australia',
 'Solomon Islands',
 'South Africa',
 'Japan',
 'Australia',
 'Spain',
 'New Zealand',
 'Bahamas',
 'Egypt',
 'Bahamas',
 'Bahamas',
 'Spain',
 'Australia',
 'Mexico',
 'South Africa',
 'Comoros',
 'Spain',
 'French Polynesia',
 'Bahamas',
 'Australia',
 'Australia',
 'United Kingdom',
 'Bahamas',
 'Australia',
 'United Arab Emirates',
 'Australia',
 'Mexico',
 'South Africa',
 'New Zealand',
 'Australia',
 'South Africa',
 'Australia',
 'Australia',
 'Philippines',
 'Bahamas',
 'Australia',
 'Australia',
 'Australia',
 'Brazil',
 'South Africa',
 'Bahamas',
 'Brazil',
 'Australia',
 'Australia',
 'Indonesia',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'Australia',
 'French Polynesia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Mexico',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'New Caledonia',
 'Australia',
 'Mexico',
 'Bahamas',
 'Spain',
 'China',
 'Australia',
 'Australia',
 'Japan',
 'Australia',
 'Bahamas',
 'Australia',
 'Bahamas',
 'Spain',
 'Australia',
 'South Africa',
 'Australia',
 'Australia',
 'Egypt',
 'Australia',
 'New Caledonia',
 'Australia',
 'New Zealand',
 'Indonesia',
 'South Africa',
 'Australia',
 'French Polynesia',
 'French Polynesia',
 'New Caledonia',
 'Australia',
 'Australia',
 'Bahamas',
 'Fiji',
 'Australia',
 'Brazil',
 'New Caledonia',
 'New Caledonia',
 'Dominican Republic',
 'Cayman Islands',
 'Australia',
 'Australia',
 'Australia',
 'Brazil',
 'South Africa',
 'United Arab Emirates',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'Spain',
 'Australia',
 'Brazil',
 'Aruba',
 'Australia',
 'Bahamas',
 'South Africa',
 'Ecuador',
 'Australia',
 'Mozambique',
 'Australia',
 'South Africa',
 'Mozambique',
 'Mozambique',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Thailand',
 'Fiji',
 'Australia',
 'Spain',
 'Australia',
 'Costa Rica',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'French Polynesia',
 'Bahamas',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'South Africa',
 'Australia',
 'Australia',
 'Puerto Rico',
 'French Polynesia',
 'New Caledonia',
 'Australia',
 'South Africa',
 'Australia',
 'Australia',
 'Australia',
 'Italy',
 'Brazil',
 'South Africa',
 'Egypt',
 'French Polynesia',
 'Australia',
 'Mexico',
 'French Polynesia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'Australia',
 'Australia',
 'Australia',
 'Bahamas',
 'South Africa',
 'Australia',
 'Australia',
 'Greece',
 'South Africa',
 'Australia',
 'Japan',
 'Australia',
 'Spain',
 'Australia',
 'Mauritius',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'French Polynesia',
 'Australia',
 'Spain',
 'Spain',
 'Australia',
 'Bahamas',
 'South Africa',
 'Spain',
 'Bahamas',
 'Bahamas',
 'Australia',
 'Australia',
 'Australia',
 'Brazil',
 'Australia',
 'Japan',
 'Australia',
 'Australia',
 'France',
 'Australia',
 'Australia',
 'South Africa',
 'Australia',
 'South Africa',
 'South Africa',
 'Australia',
 'Australia',
 'South Africa',
 'New Caledonia',
 'Australia',
 'Australia',
 'Australia',
 'Cayman Islands',
 'French Polynesia',
 'Papua New Guinea',
 'Australia',
 'New Zealand',
 'Australia',
 'New Zealand',
 'Japan',
 'New Zealand',
 'New Caledonia',
 'South Africa',
 'Kiribati',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Bahamas',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'Australia',
 'Israel',
 'Bahamas',
 'Bahamas',
 'France',
 'Australia',
 'South Africa',
 'Bahamas',
 'Mexico',
 'Bahamas',
 'Bahamas',
 'Brazil',
 'Spain',
 'Australia',
 'Jamaica',
 'South Africa',
 'Australia',
 'Brazil',
 'Ecuador',
 'Australia',
 'Mexico',
 'Australia',
 'South Africa',
 'Guam',
 'French Polynesia',
 'Australia',
 'Australia',
 'Seychelles',
 'Belize',
 'Bahamas',
 'South Africa',
 'South Africa',
 'Jamaica',
 'Australia',
 'Philippines',
 'South Africa',
 'New Zealand',
 'French Polynesia',
 'Jamaica',
 'Australia',
 'Australia',
 'Australia',
 'New Zealand',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'Australia',
 'Australia',
 'New Zealand',
 'Australia',
 'Mexico',
 'Nigeria',
 'Australia',
 'Tonga',
 'Australia',
 'Brazil',
 'Australia',
 'French Polynesia',
 'Australia',
 'Canada',
 'Australia',
 'Bahamas',
 'Australia',
 'South Africa',
 'Croatia',
 'Australia',
 'Australia',
 'Australia',
 'Italy',
 'Australia',
 'Mexico',
 'Fiji',
 'South Africa',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'New Zealand',
 'Australia',
 'Saudi Arabia',
 'Chile',
 'Australia',
 'South Africa',
 'Australia',
 'Australia',
 'Bahamas',
 'Australia',
 'South Africa',
 'Australia',
 'Australia',
 'Ecuador',
 'South Africa',
 'Australia',
 'South Africa',
 'Australia',
 'Australia',
 'Australia',
 'Indonesia',
 'Australia',
 'Papua New Guinea',
 'Brazil',
 'South Africa',
 'Australia',
 'Australia',
 'Australia',
 'Dominican Republic',
 'South Africa',
 'Kenya',
 'Papua New Guinea',
 'Australia',
 'Australia',
 'South Africa',
 'French Polynesia',
 'Seychelles',
 'Seychelles',
 'Brazil',
 'Philippines',
 'South Africa',
 'Bahamas',
 'Brazil',
 'South Africa',
 'Costa Rica',
 'United Kingdom',
 'Malaysia',
 'South Africa',
 'South Africa',
 'New Caledonia',
 'South Africa',
 'Australia',
 'New Zealand',
 'Indonesia',
 'Fiji',
 'Mexico',
 'Australia',
 'Mexico',
 'Fiji',
 'Australia',
 'Egypt',
 'Australia',
 'Australia',
 'New Caledonia',
 'Australia',
 'Australia',
 'Australia',
 'Mexico',
 'South Africa',
 'Mexico',
 'Mexico',
 'Bahamas',
 'Australia',
 'South Africa',
 'Mexico',
 'Australia',
 'Fiji',
 'Egypt',
 'Indonesia',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Samoa',
 'Australia',
 'Dominican Republic',
 'Indonesia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Egypt',
 'Australia',
 'Bahamas',
 'Bahamas',
 'South Africa',
 'South Africa',
 'Australia',
 'Tonga',
 'Solomon Islands',
 'Bahamas',
 'Australia',
 'Australia',
 'Australia',
 'Malta',
 'Spain',
 'South Africa',
 'Australia',
 'Australia',
 'Madagascar',
 'South Africa',
 'Egypt',
 'New Zealand',
 'South Africa',
 'Fiji',
 'Australia',
 'Australia',
 'New Zealand',
 'Australia',
 'Guam',
 'New Zealand',
 'Brazil',
 'Australia',
 'Australia',
 'South Africa',
 'Australia',
 'South Africa',
 'South Africa',
 'Australia',
 'Mozambique',
 'Australia',
 'Australia',
 'South Africa',
 'South Africa',
 'New Zealand',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Mozambique',
 'Australia',
 'Panama',
 'Australia',
 'United Kingdom',
 'Somalia',
 'Brazil',
 'Brazil',
 'Solomon Islands',
 'South Africa',
 'South Africa',
 'Bahamas',
 'Australia',
 'Kenya',
 'Spain',
 'Bahamas',
 'South Africa',
 'Australia',
 'Egypt',
 'Egypt',
 'Egypt',
 'Guam',
 'Bahamas',
 'Philippines',
 'Australia',
 'South Africa',
 'South Africa',
 'South Africa',
 'Australia',
 'Australia',
 'Australia',
 'Malaysia',
 'Australia',
 'New Caledonia',
 'South Africa',
 'New Zealand',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Brazil',
 'Cuba',
 'New Zealand',
 'Australia',
 'South Africa',
 'Brazil',
 'Australia',
 'New Zealand',
 'South Africa',
 'Australia',
 'Australia',
 'Australia',
 'New Zealand',
 'Ecuador',
 'New Zealand',
 'Cuba',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'New Zealand',
 'South Africa',
 'Australia',
 'Mozambique',
 'Egypt',
 'Philippines',
 'Ecuador',
 'Australia',
 'Philippines',
 'Australia',
 'New Caledonia',
 'Australia',
 'Australia',
 'Croatia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'Panama',
 'Mexico',
 'Egypt',
 'United Kingdom',
 'Bahamas',
 'South Africa',
 'South Africa',
 'Brazil',
 'Brazil',
 'Brazil',
 'Bahamas',
 'Mexico',
 'Mexico',
 'Fiji',
 'Australia',
 'New Caledonia',
 'South Africa',
 'Mexico',
 'New Caledonia',
 'Australia',
 'South Africa',
 'Mexico',
 'Australia',
 'Fiji',
 'Australia',
 'South Africa',
 'Bahamas',
 'French Polynesia',
 'Australia',
 'Japan',
 'South Africa',
 'Australia',
 'New Zealand',
 'New Zealand',
 'Mexico',
 'Ecuador',
 'Australia',
 'Australia',
 'Australia',
 'New Zealand',
 'Brazil',
 'Australia',
 'Australia',
 'South Africa',
 'South Africa',
 'Mexico',
 'Australia',
 'Australia',
 'Philippines',
 'New Caledonia',
 'Bahamas',
 'Egypt',
 'Solomon Islands',
 'Australia',
 'Norway',
 'Bahamas',
 'Senegal',
 'Australia',
 'Australia',
 'Australia',
 'Seychelles',
 'Australia',
 'Bahamas',
 'Australia',
 'New Caledonia',
 'Yemen',
 'Australia',
 'Australia',
 'New Zealand',
 'Costa Rica',
 'Australia',
 'New Caledonia',
 'New Caledonia',
 'Australia',
 'Australia',
 'South Africa',
 'Australia',
 'Australia',
 'New Zealand',
 'South Africa',
 'Australia',
 'Philippines',
 'South Africa',
 'Bahamas',
 'South Africa',
 'Australia',
 'Brazil',
 'South Africa',
 'Australia',
 'Brazil',
 'Belize',
 'Italy',
 'South Africa',
 'South Africa',
 'South Africa',
 'Australia',
 'Spain',
 'Brazil',
 'Bahamas',
 'Brazil',
 'Australia',
 'Brazil',
 'Australia',
 'Australia',
 'South Africa',
 'Brazil',
 'Sierra Leone',
 'South Africa',
 'Fiji',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'Tonga',
 'South Africa',
 'Australia',
 'Bahamas',
 'Australia',
 'South Africa',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'New Caledonia',
 'New Caledonia',
 'South Africa',
 'South Africa',
 'Bahamas',
 'South Africa',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Thailand',
 'Australia',
 'South Africa',
 'Seychelles',
 'Liberia',
 'China',
 'Australia',
 'Vanuatu',
 'Mexico',
 'South Africa',
 'South Africa',
 'Australia',
 'Madagascar',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Honduras',
 'South Africa',
 'Australia',
 'Australia',
 'South Africa',
 'New Zealand',
 'Solomon Islands',
 'Australia',
 'Brazil',
 'Cuba',
 'Australia',
 'Australia',
 'New Zealand',
 'Sri Lanka',
 'Australia',
 'Australia',
 'South Africa',
 'South Africa',
 'South Africa',
 'Vanuatu',
 'New Caledonia',
 'Cuba',
 'New Zealand',
 'South Africa',
 'Australia',
 'South Africa',
 'Australia',
 'Brazil',
 'Brazil',
 'Australia',
 'South Africa',
 'Australia',
 'Japan',
 'Australia',
 'Egypt',
 'Australia',
 'Australia',
 'South Africa',
 'Brazil',
 'Brazil',
 'Bahamas',
 'Brazil',
 'Australia',
 'New Zealand',
 'Tonga',
 'Tonga',
 'South Africa',
 'Brazil',
 'New Zealand',
 'Australia',
 'Brazil',
 'New Zealand',
 'Australia',
 'Australia',
 'Egypt',
 'Australia',
 'Australia',
 'Uruguay',
 'New Zealand',
 'South Africa',
 'Australia',
 'South Africa',
 'New Zealand',
 'Egypt',
 'Australia',
 'South Africa',
 'New Zealand',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'India',
 'Egypt',
 'South Africa',
 'Australia',
 'Panama',
 'Australia',
 'Fiji',
 'South Africa',
 'South Africa',
 'South Africa',
 'Australia',
 'Bahamas',
 'Bahamas',
 'French Polynesia',
 'New Zealand',
 'Brazil',
 'Philippines',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'New Zealand',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'Costa Rica',
 'Australia',
 'Australia',
 'South Africa',
 'Australia',
 'Australia',
 'Australia',
 'Brazil',
 'French Polynesia',
 'Brazil',
 'Tonga',
 'Brazil',
 'South Africa',
 'United Kingdom',
 'Brazil',
 'Australia',
 'Indonesia',
 'Papua New Guinea',
 'Papua New Guinea',
 'South Africa',
 'Costa Rica',
 'Papua New Guinea',
 'Brazil',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Bahamas',
 'Brazil',
 'New Caledonia',
 'Australia',
 'Fiji',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'Brazil',
 'South Africa',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'Australia',
 'Mexico',
 'Australia',
 'United Kingdom',
 'Bahamas',
 'Bahamas',
 'Thailand',
 'Bahamas',
 'Italy',
 'Mexico',
 'Australia',
 'Philippines',
 'Madagascar',
 'South Africa',
 'Australia',
 'Fiji',
 'South Africa',
 'Australia',
 'Brazil',
 'Australia',
 'Brazil',
 'Brazil',
 'Australia',
 'Malaysia',
 'Australia',
 'Australia',
 'Cuba',
 'Australia',
 'New Zealand',
 'Australia',
 'Fiji',
 'Australia',
 'Canada',
 'Australia',
 'New Zealand',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'South Africa',
 'South Africa',
 'South Africa',
 'South Africa',
 'Tonga',
 'Papua New Guinea',
 'New Zealand',
 'New Caledonia',
 'Australia',
 'Papua New Guinea',
 'Papua New Guinea',
 'Australia',
 'New Caledonia',
 'Australia',
 'Australia',
 'Australia',
 'New Zealand',
 'Australia',
 'South Africa',
 'New Zealand',
 'Australia',
 'Thailand',
 'New Zealand',
 'New Zealand',
 'New Zealand',
 'Brazil',
 'Brazil',
 'South Africa',
 'Brazil',
 'Marshall Islands',
 'Marshall Islands',
 'Italy',
 'Marshall Islands',
 'Bahamas',
 'South Africa',
 'South Africa',
 'South Africa',
 'Australia',
 'Brazil',
 'Mauritius',
 'New Zealand',
 'Brazil',
 'New Caledonia',
 'New Zealand',
 'Australia',
 'Mauritius',
 'South Africa',
 'New Zealand',
 'Australia',
 'South Africa',
 'Australia',
 'South Africa',
 'South Africa',
 'Australia',
 'Japan',
 'Brazil',
 'South Africa',
 'Brazil',
 'South Africa',
 'Senegal',
 ...]

#### 03. Now the column ```"Country"``` must have only the values of the list ```valid_countries```.

In [10]:
df['Country'] = df['Country'].apply(lambda x: x if x in lst_countries else None)
df

             Date    Country         Species
0     25-Jun-2018       None      White shark
1     18-Jun-2018       None              NaN
2     09-Jun-2018       None              NaN
3     08-Jun-2018  Australia        2 m shark
4     04-Jun-2018     Mexico  Tiger shark, 3m
...           ...        ...              ...
6297  Before 1903  Australia              NaN
6298  Before 1903  Australia              NaN
6299    1900-1905       None              NaN
6300    1883-1889     Panama              NaN
6301    1845-1853       None              NaN

[6252 rows x 3 columns]

#### 04. The ```continent``` must now be associated with each ```country```.

In [11]:
df["Country"].unique()

array([None, 'Australia', 'Mexico', 'Brazil', 'South Africa', 'Thailand',
       'Costa Rica', 'Maldives', 'Bahamas', 'New Caledonia', 'Ecuador',
       'Malaysia', 'Libya', 'Cuba', 'Mauritius', 'New Zealand', 'Spain',
       'Samoa', 'Solomon Islands', 'Japan', 'Egypt', 'Comoros',
       'French Polynesia', 'United Kingdom', 'United Arab Emirates',
       'Philippines', 'Indonesia', 'China', 'Fiji', 'Dominican Republic',
       'Cayman Islands', 'Aruba', 'Mozambique', 'Puerto Rico', 'Italy',
       'Greece', 'France', 'Papua New Guinea', 'Kiribati', 'Israel',
       'Jamaica', 'Guam', 'Seychelles', 'Belize', 'Nigeria', 'Tonga',
       'Canada', 'Croatia', 'Saudi Arabia', 'Chile', 'Kenya', 'Malta',
       'Madagascar', 'Panama', 'Somalia', 'Norway', 'Senegal', 'Yemen',
       'Sierra Leone', 'Liberia', 'Vanuatu', 'Honduras', 'Sri Lanka',
       'Uruguay', 'India', 'Marshall Islands', 'Hong Kong', 'El Salvador',
       'Angola', 'Bermuda', 'Montenegro', 'Tunisia', 'Namibia',
       'Portugal', 'Bangladesh', 'Palau', 'Grenada', 'Iraq', 'Turkey',
       'Singapore', 'Sudan', 'Nicaragua', 'American Samoa', 'Gabon',
       'Mayotte', 'Argentina', 'Martinique', 'Guatemala',
       'Northern Mariana Islands', 'Slovenia', 'Iceland', 'Barbados',
       'Monaco', 'Guyana', 'Haiti', 'Ireland', 'Kuwait', 'Cyprus',
       'Lebanon', 'Paraguay', 'Georgia', 'Tuvalu', 'Guinea',
       'Cook Islands', 'Peru', 'Algeria', 'Ghana', 'Greenland', 'Sweden',
       'Djibouti'], dtype=object)

In [12]:
len(df["Country"].unique())

110

#### 05. Create a ```dictionary``` with countries and its corresponding continent

In [13]:
country_to_continent = {
    'Australia': 'Oceania',
    'Mexico': 'North America',
    'Brazil': 'South America',
    'South Africa': 'Africa',
    'Thailand': 'Asia',
    'Costa Rica': 'North America',
    'Maldives': 'Asia',
    'Bahamas': 'North America',
    'New Caledonia': 'Oceania',
    'Ecuador': 'South America',
    'Malaysia': 'Asia',
    'Cuba': 'North America',
    'Mauritius': 'Africa',
    'New Zealand': 'Oceania',
    'Spain': 'Europe',
    'Samoa': 'Oceania',
    'Solomon Islands': 'Oceania',
    'Japan': 'Asia',
    'Egypt': 'Africa',
    'Comoros': 'Africa',
    'French Polynesia': 'Oceania',
    'United Kingdom': 'Europe',
    'United Arab Emirates': 'Asia',
    'Philippines': 'Asia',
    'Indonesia': 'Asia',
    'China': 'Asia',
    'Fiji': 'Oceania',
    'Dominican Republic': 'North America',
    'Cayman Islands': 'North America',
    'Aruba': 'North America',
    'Mozambique': 'Africa',
    'Puerto Rico': 'North America',
    'Italy': 'Europe',
    'Greece': 'Europe',
    'France': 'Europe',
    'Papua New Guinea': 'Oceania',
    'Kiribati': 'Oceania',
    'Israel': 'Asia',
    'Jamaica': 'North America',
    'Guam': 'Oceania',
    'Seychelles': 'Africa',
    'Belize': 'North America',
    'Nigeria': 'Africa',
    'Tonga': 'Oceania',
    'Canada': 'North America',
    'Croatia': 'Europe',
    'Saudi Arabia': 'Asia',
    'Chile': 'South America',
    'Kenya': 'Africa',
    'Malta': 'Europe',
    'Madagascar': 'Africa',
    'Panama': 'North America',
    'Somalia': 'Africa',
    'Norway': 'Europe',
    'Senegal': 'Africa',
    'Yemen': 'Asia',
    'Sierra Leone': 'Africa',
    'Liberia': 'Africa',
    'Vanuatu': 'Oceania',
    'Honduras': 'North America',
    'Sri Lanka': 'Asia',
    'Uruguay': 'South America',
    'India': 'Asia',
    'Marshall Islands': 'Oceania',
    'Hong Kong': 'Asia',
    'El Salvador': 'North America',
    'Angola': 'Africa',
    'Bermuda': 'North America',
    'Montenegro': 'Europe',
    'Tunisia': 'Africa',
    'Namibia': 'Africa',
    'Portugal': 'Europe',
    'Palau': 'Oceania',
    'Grenada': 'North America',
    'Turkey': 'Asia',
    'Singapore': 'Asia',
    'Sudan': 'Africa',
    'American Samoa': 'Oceania',
    'Argentina': 'South America',
    'Guatemala': 'North America',
    'Nicaragua': 'North America',
    'Iraq': 'Asia',
    'Iceland': 'Europe',
    'Barbados': 'North America',
    'Guyana': 'South America',
    'Haiti': 'North America',
    'Ireland': 'Europe',
    'Lebanon': 'Asia',
    'Paraguay': 'South America',
    'Georgia': 'Asia',
    'Guinea': 'Africa',
    'Cook Islands': 'Oceania',
    'Martinique': 'North America',
}

In [14]:
# key: country
# value: continent

continent_to_countries = {}

for country, continent in country_to_continent.items():
    if continent in continent_to_countries:
        continent_to_countries[continent].append(country)
    else:
        continent_to_countries[continent] = [country]

#### 06. We have to ```map``` each country with its corresponding continent.

In [15]:
# we add fillna(np.nan) to fill the missing values with NaN
df['Continent'] = df['Country'].map(country_to_continent).fillna(np.nan)

In [16]:
# We delete NaN values from the column "Country"
df.dropna(subset=['Country'], inplace=True)

In [17]:
df

,Date,Country,Species,Continent
3,08-Jun-2018,Australia,2 m shark,Oceania
4,04-Jun-2018,Mexico,"Tiger shark, 3m",North America
5,03-Jun-2018,Australia,NaN,Oceania
6,03-Jun-2018,Brazil,Tiger shark,South America
10,24-May-2018,Australia,Grey reef shark,Oceania
...,...,...,...,...
6295,Before 1906,Australia,Blue pointers,Oceania
6296,Before 1906,Australia,Said to involve a grey nurse shark that leapt ...,Oceania
6297,Before 1903,Australia,NaN,Oceania
6298,Before 1903,Australia,NaN,Oceania
6300,1883-1889,Panama,NaN,North America

In [18]:
pd.isnull(df).sum()

Date            0
Country         0
Species      1676
Continent      21
dtype: int64

#### 07. We have to create a ```function``` to assign the ```hemisphere``` corresponding to each continent.

In [19]:
def get_hemisphere(continent):

    if continent == 'North America':
        return 'North'
    elif continent == 'Europe':
        return 'North'
    elif continent == 'Asia':
        return 'North'
    
    elif continent == 'South America':
        return 'South'
    elif continent == 'Oceania':
        return 'South'
    elif continent == 'Africa':
        return 'South'
    else:
        return None

In [20]:
df['Hemisphere'] = df.apply(lambda x: get_hemisphere(x['Continent']), axis=1)
df

,Date,Country,Species,Continent,Hemisphere
3,08-Jun-2018,Australia,2 m shark,Oceania,South
4,04-Jun-2018,Mexico,"Tiger shark, 3m",North America,North
5,03-Jun-2018,Australia,NaN,Oceania,South
6,03-Jun-2018,Brazil,Tiger shark,South America,South
10,24-May-2018,Australia,Grey reef shark,Oceania,South
...,...,...,...,...,...
6295,Before 1906,Australia,Blue pointers,Oceania,South
6296,Before 1906,Australia,Said to involve a grey nurse shark that leapt ...,Oceania,South
6297,Before 1903,Australia,NaN,Oceania,South
6298,Before 1903,Australia,NaN,Oceania,South
6300,1883-1889,Panama,NaN,North America,North

###  (2) SEASONS

#### 01. I need to create a ```column``` with the ```months``` of the year based on the column "Date"

In [21]:
# Convert the 'Date' column to datetime format. 
# errors='coerce' is used to convert any invalid value in NaT = missing date
df['Date'] = pd.to_datetime(df['Date'], errors='coerce') 

# Delete NaT values from Date
df.dropna(subset=['Date'], inplace=True)

# Create a column 'Month' with the values of the months
df['Month'] = df['Date'].dt.month 
df['Year'] = df['Date'].dt.year
df.drop(columns=["Date"], axis=1, inplace=True)
df

         Country         Species       Continent Hemisphere  Month  Year
3      Australia        2 m shark        Oceania      South      6  2018
4         Mexico  Tiger shark, 3m  North America      North      6  2018
5      Australia              NaN        Oceania      South      6  2018
6         Brazil      Tiger shark  South America      South      6  2018
10     Australia  Grey reef shark        Oceania      South      5  2018
...          ...              ...            ...        ...    ...   ...
6124   Australia              NaN        Oceania      South      1  1807
6136   Australia              NaN        Oceania      South      5  1788
6140     Jamaica              NaN  North America      North     12  1784
6141  Martinique              NaN  North America      North      3  1783
6160    Barbados              NaN  North America      North      3  1703

[2610 rows x 6 columns]

#### 03. I need to create a ```column``` with the ```seasons``` of the year grouping the months. It must be taken into account that the seasons change according to the continent.

In [22]:
# We'll create a function.
def get_seasons(continent, month):
    
    if continent == 'North America':
        if month in [12, 1, 2]:
            return 'Winter'
        elif month in [3, 4, 5]:
            return 'Spring'
        elif month in [6, 7, 8]:
            return 'Summer'
        else:
            return 'Autumn'
        
    elif continent == 'South America':
        if month in [12, 1, 2]:
            return 'Summer'
        elif month in [3, 4, 5]:
            return 'Autumn'
        elif month in [6, 7, 8]:
            return 'Winter'
        else:
            return 'Spring'
        
    elif continent == 'Europe':
        if month in [12, 1, 2]:
            return 'Winter'
        elif month in [3, 4, 5]:
            return 'Spring'
        elif month in [6, 7, 8]:
            return 'Summer'
        else:
            return 'Autumn'
        
    elif continent == 'Africa':
        if month in [12, 1, 2]:
            return 'Summer'
        elif month in [3, 4, 5]:
            return 'Autumn'
        elif month in [6, 7, 8]:
            return 'Winter'
        else:
            return 'Spring'
        
    elif continent == 'Asia':
        if month in [12, 1, 2]:
            return 'Winter'
        elif month in [3, 4, 5]:
            return 'Spring'
        elif month in [6, 7, 8]:
            return 'Summer'
        else:
            return 'Autumn'
        
    elif continent == 'Oceania':
        if month in [12, 1, 2]:
            return 'Summer'
        elif month in [3, 4, 5]:
            return 'Autumn'
        elif month in [6, 7, 8]:
            return 'Winter'
        else:
            return 'Spring'
    else:
        return None

#### 04. Now we have to create a new column ```Season``` storing the values from the function ```Get_Season```.

In [23]:
df['Season'] = df.apply(lambda x: get_seasons(x['Continent'], x['Month']), axis=1)
df.reset_index()

,index,Country,Species,Continent,Hemisphere,Month,Year,Season
0,3,Australia,2 m shark,Oceania,South,6,2018,Winter
1,4,Mexico,"Tiger shark, 3m",North America,North,6,2018,Summer
2,5,Australia,NaN,Oceania,South,6,2018,Winter
3,6,Brazil,Tiger shark,South America,South,6,2018,Winter
4,10,Australia,Grey reef shark,Oceania,South,5,2018,Autumn
...,...,...,...,...,...,...,...,...
2605,6124,Australia,NaN,Oceania,South,1,1807,Summer
2606,6136,Australia,NaN,Oceania,South,5,1788,Autumn
2607,6140,Jamaica,NaN,North America,North,12,1784,Winter
2608,6141,Martinique,NaN,North America,North,3,1783,Spring
2609,6160,Barbados,NaN,North America,North,3,1703,Spring

In [24]:
df = df.dropna(subset=["Continent"])

In [25]:
pd.isnull(df).sum()

Country          0
Species       1055
Continent        0
Hemisphere       0
Month            0
Year             0
Season           0
dtype: int64

In [26]:
df

,Country,Species,Continent,Hemisphere,Month,Year,Season
3,Australia,2 m shark,Oceania,South,6,2018,Winter
4,Mexico,"Tiger shark, 3m",North America,North,6,2018,Summer
5,Australia,NaN,Oceania,South,6,2018,Winter
6,Brazil,Tiger shark,South America,South,6,2018,Winter
10,Australia,Grey reef shark,Oceania,South,5,2018,Autumn
...,...,...,...,...,...,...,...
6124,Australia,NaN,Oceania,South,1,1807,Summer
6136,Australia,NaN,Oceania,South,5,1788,Autumn
6140,Jamaica,NaN,North America,North,12,1784,Winter
6141,Martinique,NaN,North America,North,3,1783,Spring
6160,Barbados,NaN,North America,North,3,1703,Spring

In [27]:
#df.to_csv("data/continent_season.csv", index=False)

### (3) TYPES OF SHARK

In [28]:
list(df['Species '].unique())

['2 m shark',
 'Tiger shark, 3m',
 nan,
 'Tiger shark',
 'Grey reef shark',
 'Shark involvement not confirmed',
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'White shark, 2.5 m',
 'Juvenile bull shark',
 'Bull shark',
 'White shark',
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Blacktip shark',
 'Juvenile white shark,  2.7 to 3.2 m',
 'Bull shark, 2 m',
 'Possibly a wobbegong',
 'Injury believed caused by an eel, not a shark',
 'Galapagos shark?',
 '2m shark',
 'Bull shark, 3 m ',
 'Grey reef shark. 2 m',
 'small shark',
 'Wobbegong shark?',
 'Juvenile nurse shark',
 "Nurse shark. 5'",
 'Tiger shark, female',
 'Wobbegong shark, 1 m',
 'White shark, 4.5 m',
 'Death may have been due to drowning',
 'Porbeagle, 1.5 m',
 'White shark, 3 to 3.5m ',
 'White shark, 3 m',
 'Shark involvement questionable',
 "5' shark",
 'Oceanic whitetip shark, 1.8 to 2 m',
 "Blue shark 6'",
 'Shark involvement prior to death not confirmed',
 'White shark, 4 m',
 'Seven-gill shark',
 "10' shark",
 'Bull shark, 1.5',
 'Lemon shark pup',
 'Caribbean reef shark',
 'Bull shark, 4 m',
 'Bull shark, 1 m',
 'a small shark',
 'Wobbegong shark, 2m',
 'Broadnose sevengill shark, 1.5 m',
 'Blue shark',
 "Bull shark, 6'",
 'reef shark, 1m',
 'Tawny nurse shark',
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 "Mako shark, 1.5 m [5'] ",
 'Grey reef shark, 2 m',
 'Tiger shark, 2.5 m',
 'Nurse shark, 2.5-ft',
 'Sandtiger shark',
 'No shark involvement',
 "Silky shark, 6.5'",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m ',
 'Galapagos shark',
 'Bull shark, 2.8 to 3.1 m',
 "6' shark",
 'White shark, 3.9 to 4.2 m',
 'Bronze whaler shark, 1.5m',
 'White shark, 2m to 3 m',
 '1m to 1.2 m shark',
 'Bull shark, 3.5 m',
 'White shark, 6 m',
 'Shark involvement not cofirmed',
 'Blacktip Reef shark ',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 'Bull shark, 1.3 m',
 '5 m shark',
 '1.5 m shark',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 'White shark, 4 to 5 m',
 'Shark involvement prior to death still to be determined',
 'Shark involvement not confirmed & highly unlikely',
 '1 m shark',
 '2 white shark: 13\' & 9"8"',
 "7' shark",
 'reef shark',
 "Bull shark, 9' to 10'",
 'Angel shark',
 "Caribbean reef shark, 7' to 8'",
 ' Bull shark, 1.2m ',
 '3m shark',
 ' Tawney nurse shark, 1m',
 " white shark, 15' ",
 'Cow shark',
 'reef shark?',
 ' Raggedtooth shark, 2m',
 '3 m to 4 m white shark',
 'Invalid',
 'Blacktip reef shark ',
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 ' Wobbegong shark, 1.6 to 1.8m ',
 'Tiger shark, 3m ',
 'Thought to involve a white shark',
 'Reported to involve a white shark',
 'Blacktip reef shark, 1m',
 'Reported to involve a 4 m white shark',
 "Mako shark, 5'",
 'Nurse shark',
 'Wobbegong, 2m',
 'Grey nurse shark, 3m',
 'Possibly a blacktip reef shark',
 'Raggedtooth shark, 1.5 m',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 'White shark, 4m',
 'Lemon shark',
 'White shark, 5m',
 'Bronze whaler shark, 3m',
 '2.5 m shark',
 'Bull shark, 2m ',
 "Tiger shark, 6'",
 'Possibly a 3 m bull shark',
 '4.5 m shark',
 'Lemon shark, 2.5m to 3m ',
 'White shark or bronze whaler',
 'Salmon shark suspected, but unlikely',
 "15' shark",
 'Blue shark, 2.5m',
 'White shark, 2 m',
 'Bull shark, 3m',
 'White shark, 4 m to 5m ',
 'White shark, 6m ',
 'White shark, 4m ',
 'Possibly a bull shark',
 'Tawny nurse shark, 40cm',
 'Grey nurse shark',
 'White shark, 7m',
 'White shark, 2.7 m',
 'Thought to involve a bull shark',
 'Allegedly a 4 m tiger shark',
 'White shark, 2.5m',
 "White shark, 10'",
 'Port Jackson shark, 1m',
 'Tiger shark, 2m',
 "White shark, >6'",
 'Grey reef shark ',
 'White shark, 3m to 4m',
 'Bull shark, 3m female',
 'Zambesi shark',
 ' Tiger shark, 2.8m',
 'reef shark, 1.5m',
 'possibly a bronze whaler shark',
 ' Bull shark, 2.5 m',
 'Bull shark, 2.5m',
 '3 m to 4 m shark',
 'White shark x 2',
 'Oceanic whitetip shark, 2.5m ',
 'Mako shark ',
 'Oceanic whitetip shark, 2.5m, female',
 'Bull shark, 1.4m ',
 "Possibly a 6' lemon shark",
 'Shark involvement prior to death was not confirmed',
 "Oceanic whitetip shark, 6'",
 'Wobbegong shark, 1.6m',
 'Thought to involve a juvenile hammerhead shark',
 'Whitetip reef shark, 1m',
 'Zambesi shark, 2m ',
 'White shark, 2.8 to 3 m ',
 'Spurdog',
 'White shark, 2m',
 "Caribbean reef shark, 6'",
 'Thought to involve a Bronze whale shark, 2m',
 'Oceanic whitetip shark',
 'Oceanic whitetip shark, 2.5 to 3m',
 "Blacktip shark, 4'",
 "2' to 3' shark",
 'Raggedtooth shark',
 'Bronze whaler shark?',
 'Blue shark, 1m',
 '2.6 m shark',
 'White shark, 2.5m ',
 'Bull shark, 2.7 m ',
 "White shark, 12' ",
 'White shark, 5.5 m ',
 'Dusky shark, 2m',
 'White shark, 3.5m',
 'Broadnose sevengill shark',
 'White shark, 4m to 5m ',
 '4 to 5m white shark',
 'Raggedtooth shark, 2m',
 'White shark, 4.5 to 5 m ',
 'Bronze whaler shark',
 ' reef shark, 1.8m',
 '5 m white shark',
 "8' white shark or 7-gill shark",
 "3'  shark",
 "2'  shark",
 "Bull shark, 6' to 7'",
 'Tiger sharks in area',
 '2 small bull sharks',
 'Bull shark, 1.8m',
 'Tiger shark, 2.3m ',
 'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
 'Shark involvement not confirmed; thought to be a barracuda bite',
 'A bull shark, according to some of the divers on the boat',
 'Blacktip shark, 2m',
 'Mako shark, 90kg',
 'Bronze whaler shark, 4m',
 '"a small shark"',
 'Not a shark attack; it was a hoax',
 '2.27 m shark',
 '1.5 to 2 m shark',
 'Oceanic whitetip sharks were in the vicinity',
 'Gray reef shark',
 "3' small spotted catshark, Scyliorhinus canicula",
 "Bull shark, 5' ",
 '2 to 2.5 m shark',
 'White shark, 3m',
 '2.4 m shark',
 '2.5 to 3 m shark',
 '2 to 3 m shark',
 'Raggedtooth shark, 150-kg',
 'White shark, 5m ',
 'Bull shark, 1.5m ',
 'White shark, 3.5m ',
 'Shark involvement not confirmed, injury may have been caused by a bluefish',
 'Bull or tiger shark',
 "14' white shark",
 'Wobbegong shark, 2 m ',
 'Bronze whaler shark, a  juvenile ',
 'Raggedtooth shark, 2.5 m to 3 m ',
 "Tiger shark, 5' ",
 'Bronze whaler shark, 2 m',
 '4.5 m white shark',
 '3.5 m white shark',
 'Said to involve a 1.5 m shark',
 'Whitetip reef shark',
 '3 m white shark',
 'Raggedtooth shark, 2.5m ',
 "14' to 16' white shark",
 "4 m [13'] white shark",
 "2 m [6.75'] shark, 200-kg shark T",
 "3.5 m [11.5']shark",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 "2 m [6.75'] copper shark",
 "4 m [13'] shark",
 "6 m [20'] white shark",
 "Bronze whaler shark, 4.3 m [14'] ",
 "3 m [10'] shark",
 "Bronze whaler shark, 2 m to 3 m [6.75' to 10']  ",
 '4.5 m & 5 m white shark ',
 "2.5 m [8.25'] bull shark",
 "2 m [6.75'] white shark",
 "Bronze whaler shark, 2.4 m [8'] ",
 "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
 "Tiger shark, 3 m [10'] ",
 '2 sharks, 4.5 m & 3 m ',
 '"black tipped" shark',
 "Bronze whaler shark, 2.5 m [8.25'] ",
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "Wobbegong shark, 1.2 m [4'] k",
 "White shark, 5.5 m [18']",
 'small sharks',
 'Questionable Incident',
 "5 m [16.5'] white shark",
 'bull shark',
 "Bronze whaler shark, 1.5 m [5'] ",
 "2 m [6.75'] sevengill  shark",
 '60 cm [23.6"] blind or brown shark',
 "4 m to 5 m [13' to 16.5'] white shark",
 'Possibily a  1.5 to 2 m sandtiger shark',
 'Shark involvement doubtful',
 "Raggedtooth shark, 3.5 m [11.5'] ",
 'Shortfin mako shark',
 "Wobbegong shark, 1.2 m [4'] ",
 "Tiger shark, 4 m [13']  ?",
 '2.5 oceanic whitetip shark',
 "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
 '2 m cow shark',
 "3.5 m [11.5'] white shark",
 'Unidentified species',
 "2.1 m  [7'] bull shark",
 "2.5 m [8.25'] white shark",
 "Thought to involve a 2 m [6.75'] grey nurse shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 "Bull shark, 7'",
 'Reported to involve a hammerhead shark',
 'White shark, 4 m white shark',
 'Wobbegong shark, 1m',
 'Shark involvement not confirmed, injury may be due to a stingray',
 'Possibly a bull shark or tiger shark',
 "Tiger shark, 1.5 m [5']k",
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "White shark, 6m [20']",
 'Bull shark, 400-lb ',
 'Shark involvement prior to death unconfired',
 '1.5 m [5\'] "whaler shark"',
 'C. leucas tooth fragment recovered from kayak',
 "Tiger shark, 3 m [10']",
 'Zambesi shark?',
 'Unidentified',
 "Mako shark, 2 m [6.75'] ",
 "Tiger shark, 1.8 m [6']",
 "12' sandtiger shark",
 "3 m [10'] bull shark",
 "1.9 m [6.5'] bull shark",
 "White shark, 2.7 m to 3 m [9' to 10'] ",
 "White shark, 2.7 m [9'] ",
 "White shark, 5 m [16.5'] ",
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "2 m [6.75'] shark",
 "White shark, 4.3 m [14'] ",
 "6 m [20'] shark",
 'White shark, 4.5 m [14\'9"] ',
 "Porbeagle shark, 3 m [10']rk",
 'Tiger shark, 4 m ',
 "White shark, 4.9 m [16'] ",
 "White shark, 4 m to 5 m [13' to 16.5'] ",
 '100-kg [221-lb] dead blue shark',
 "White shark, 3.5 m [11.5']  male ",
 "Grey reef shark, 2 m [6.75'] ",
 'Tiger sharks & bull sharks (20 sharks in all)',
 'Tiger shark?',
 "Tiger shark, 4 m [13'] ?",
 "2 m to 2.5 m [6.75'  to 8.25'] shark",
 'White shark, 2.5 m ',
 'Sevengill shark',
 'Thought to involve a white, bull or tiger shark',
 '1.3 to 1.6 m shark',
 "Said to involve a 7 m [23'] white shark",
 "2.7 m [9']  bull shark or Caribbean reef shark",
 "White shark, 3 m to 5 m [10' to 16.5'] ",
 "White shark, 4 m [13'] ",
 "Tiger shark, 2.5 m [8.25']",
 'Grey reef shark, 1.5 m ',
 '200 to 300 kg shark',
 'Mako shark, 1.3 m gaffed ',
 'Bronze whaler or tiger shark',
 'Though to involve a white shark',
 "Caribbean reef shark, 1.2 m to 1.5 m [4' to 5'] ",
 'Sandtiger shark, 2 m, male ',
 "White shark, 4.9 m [16']",
 "Raggedtooth shark, 1.2 m [4'] ",
 "5' to 6' shark",
 'Thought to involve a 5.5 m white shark named Kong',
 "3 m to 4 m [10' to 13'] white shark",
 "3 m [10'] white shark",
 'Small dusky shark or blackfin shark',
 "5.5 m [18'] white shark",
 "Tiger shark, 5.2 m [17']",
 'Thought to involve an oceanic whitetip shark or a white shark',
 "Tiger shark, 2.7m  [9']",
 'Possibly a Caribbean reef shark',
 '3.7m  to 4.2 m white shark',
 'Tiger shark, 2m to 3m ',
 "1.8 m to 2.1 m [6' to 7'] shark",
 'Tiger shark, 4.5 m [14\'9"]',
 '4 m white shark',
 "2.5 m [8.25'] white shark ",
 'Shark involvement prior to death suspected but not confirmed',
 '"reef shark"',
 "Mako shark, 4.3 m [14']",
 '4 m shark',
 '"small shark"',
 'Though to involve a tiger shark',
 "3.7 m [12'] shark",
 'Bronze whaler shark, 2 m ',
 "Tiger shark, 1.8 m [6'] ",
 ' ',
 "Raggedtooth shark, 2.7 m [9'] ",
 "1.8 m [6'] shark",
 '4.9 m white shark',
 '3.6 m [11\'9"] white shark',
 '1.3 m [4\'3"] shark',
 'Tiger shark caught 6 days later with diver\x92s remains in its gut',
 "3.7 m [12'] white shark",
 "1.2 m [4'] shark",
 "1.8 m [6'] blacktip shark or Caribbean reef shark",
 "Remains recovered from 5.5 m [18'] white shark",
 'Possiby white shark',
 "1.5 m [5'] shark",
 '4.2 m white shark',
 "1.8 m [6'] blacktip shark",
 'White shark, identification by K. Nakaya',
 "4 m [13'], 590-kg white shark",
 '>2 m shark',
 'Bronze whaler shark, 3 m',
 "5 m [16.5'] white shark, identification by K. Nakaya",
 "5 m [16.5'] shark",
 'Questionable incident',
 "Bronze whaler shark, 2.3 m [7.5'] ",
 "Zambesi shark, 1.7 m [5.5'] ",
 "Possibly a 1.5 m [5'] blacktip shark",
 "3 m [10'], 270- kg [595-lb] shark",
 "Tiger shark, >3 m [10']",
 '3.5 m [11.5\'] female white shark named "Notchfin"',
 '170-kg, 2.8 m shark',
 'Grey nurse shark, 2 m',
 "5 m  [16.5'] white shark",
 '4.5 m [14\'9"] white shark',
 "1.2 m to 1.5 m [4' to 5'] shark",
 '6 m, 600-kg shark',
 '2 m hammerhead',
 "5.5 m [18'] white shark, identified by witnesses & tooth marks",
 "2.3 m [7.5'] white shark, identified by M. Smale",
 'Tiger shark, 3 m ',
 '2 m shark, possibly a bronze whaler',
 "2.7 m [9'] white shark",
 'White shark, identified by tooth pattern',
 ">3.4 m [11'] white shark",
 "Bronze whaler shark, 3 m [10'] ",
 'Shark involvement suspected but not confirmed',
 'Tiger shark, 3.5 m ',
 "3 m [10'] gaffed shark",
 "Tiger shark, 4 m [13'] ",
 "16' white shark",
 '2 m to 2.5 m shark',
 "1.5 m [5'] Caribbean reef shark",
 "1.5 m to 2 m [5' to 6.75'] shark",
 '1 m "grey-colored" shark',
 'Zambezi shark (tooth fragments recovered)',
 "Mako shark, 3 m [10'], 200-kg [441-lb] ",
 '1.5 m copper shark',
 '40 to 50 sharks attacked survivors in the water',
 "3.5 m [11.5']  white shark",
 '4.3 m shark',
 'Bronze whaler shark, 2 m to 3 m ',
 ">2.5 m [8.25'] white shark",
 "Raggedtooth shark, 2.5 m [8.25'] ",
 'Raggedtooth shark, 1.96 m, 140-kg ',
 '1.6 m shark',
 "Tooth fragment of a white shark recovered. Authorities believed shark was 6 m [20']  total length",
 '>1 m shark',
 ">2.4 m [8'] white shark",
 "Raggedtooth shark, 2 m [6.75'] ",
 'Bronze whaler shark, 3.5 m ',
 '30-kg [66-lb] shark',
 '3.5 m white shark, tooth fragments recovered',
 '6 m shark',
 '4.5 m to 5.5m white shark',
 "2.4 m [8'] white shark",
 "2.5 m [8.25'] shark",
 'Raggedtooth shark, 56-kg [123-lb] ',
 " 1.5 m [5'] dusky shark",
 '1.5 m white-tipped reef shark',
 'Raggedtooth shark, 1 m ',
 "12' white shark",
 'Raggedtooth shark, >1 m ',
 '.5 m shark',
 "Tiger shark, 5 m [16.5']",
 "3 m to 4 m [10' to 13'] shark",
 "6' blacktip shark",
 "Raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)",
 "1.8 m [6'] Zambezi shark",
 'Blacktip or spinner shark',
 'Believed to involve a 2.8 m [9\'3"] white shark',
 "2.4 m [8'] white shark, species identity confirmed by tooth fragment",
 "2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard",
 'Lemon shark, 2 m [6\'9"]',
 "5.5 m [18''] white shark",
 "3.5 m [11.5'], 510-kg [1125-lb] hooked & shot white shark",
 'Mako shark (tooth fragments recovered)',
 "Possibly a  1.8 m [6'] Zambezi shark",
 '"gray shark"',
 "Tiger shark, 2.1 m [7']",
 'Juvenile dusky or blacktip shark',
 '1 m hammerhead shark',
 "1.5 m [5'] hammerhead shark",
 '2.8 m [9\'3"] white shark',
 '2.2 m shark',
 '2 m [6\'9"] Zambesi shark',
 'Hammerhead shark',
 'Raggedtooth shark, 2 m [6\'9"] ',
 'White shark?',
 'White shark, 5 m ',
 "Raggedtooth shark, 50-kg [110-lb], 2 m [6.75'] gaffed ",
 "White shark, 2.3 m [7.5'], tooth fragment recovered",
 "White shark, 3.7 m [12'] ",
 '270 kg shark',
 'Thought to involve a blacktip shark',
 "1.5 to 2 m [5' to 6.75'] shark",
 'Mako shark, 2.3 m, 150-kg  ',
 "White shark, 3 m [10'] k",
 "White shark, 3.5 m [11.5'], species identity confirmed by tooth fragment",
 "2.7 m  [9'] shark",
 'Mako shark, 180-kg [397-lb]',
 'Whale shark',
 'White shark named \x93Spotty\x94',
 "White shark, 3 m [10'] ",
 "2.4 m [8'] shark",
 "Grey nurse shark, 10' ",
 'Juvenile dusky shark',
 'Bronze whaler',
 "White shark, 2.4 m [8']",
 "12' shark",
 "2.4 m [8'] whaler shark",
 'White shark, 600-kg [1323-lb]',
 "1.5 m [5']  shark",
 "Carpet shark, 10' ",
 'Copper shark, 50-kg [110-b] ',
 "Shortfin mako shark, 2.3 m [7.5'] ",
 "Raggedtooth shark, 1.5 m [5'] ",
 "7' to 8' bull shark",
 '2 m to 3 m shark',
 "White shark, > 3 m [10']",
 "Bronze whaler shark, 10' ",
 '1.5 m grey reef shark',
 "White shark, 2.5 m [8.25'] ",
 "White shark, 3 m [10']rk",
 '1.5 m to 2 m shark',
 "Grey nurse shark, 11'",
 "White shark, 3 m [10'], species identity confirmed by witnesses & tooth pattern in leg & board ",
 'White shark according to tooth pattern and witnesses',
 "White shark, 4.6 m [15'] ",
 'Raggedtooth shark, 2 m [6\'9"], 5-year-old, captive female ',
 'Considered a "Doubtful" incident',
 "2 scalloped hammerhead sharks, 1.5 m & 1.8 m [5' & 6']",
 '90-kg "blackfin" shark',
 "White shark, 4.3 m [14'], (tooth fragment recovered)",
 "1.5 m to 2 m [5' to 6.75'] Caribbean reef shark ",
 "Bronze whaler shark, 1.8 m [6'] ",
 '"Blue whaler" (Galeolamna)',
 "1.5 m to 1.8m [5' to 6'] shark",
 "3' shark",
 "1.5 m to 1.8 m [5' to 6'] shark",
 'White shark or thresher shark',
 "2.1 m [7'] sandtiger shark",
 '"sand shark"',
 "2.1 m [7'] shark",
 "Grey nurse shark, 1.5 m [5'] ",
 "Grey nurse shark, 1.5 m [5']",
 "Bronze whaler shark, 2.1 m [7'], a tooth was embedded in the speargun ",
 "Mako shark, 1.9 m [6.5'] ",
 'Believed white shark and other smaller species of sharks involved.',
 "Alleged to involve a White shark, 7.6 m [25'] ",
 "White shark, 2.5 m [8.25'], an immature female, previously injured",
 'Copper shark',
 "Wobbegong shark, 5' ",
 "1.5 m to 1.8 m [5' to 6'] Zambesi shark",
 "76 cm [2.5'] carpet shark",
 '1.8 m to 2 m [6\' to 6\'9"] shark',
 "1.8 m [6'] carpet shark",
 "4.6 m [15'] shark",
 "Grey nurse shark, 2.4 m [8'] ",
 "1.8 m [6'], 180-lb shark",
 "0.9 m [3'] shark",
 '300-kg [662-lb] shark',
 'Lemon shark, 0.5 m',
 'Tiger shark, tooth fragment recovered',
 "1.8 m [6'], 136-kg [300-lb] shark ",
 'Raggedtooth shark ',
 "White shark, 2.4 m [8'] ",
 'White shark, 2.7 m [9\'1"], 750-lb ',
 "Grey nurse shark, 1.8 m [6']",
 "1.8 to 2.4 m [6' to 8'] shark",
 'Lemon shark ',
 "White shark, 1.5 m [5'] k",
 "White shark, 3 m to 3.7 m [10' to 12'] ",
 'White shark, 3.6 m [11\'9"] ',
 'Wobbegong',
 "2.1 m to 2.4 m  [7' to 8'] shark",
 "Zambesi shark, 1.8 m [6'] ",
 "1.8 m [6']  shark",
 "4.3 m [14'], 1000-lb shark",
 'Dusky shark, 1 m ',
 "Wobbegong shark, 3' ",
 "White shark, 1.7 m [5.5']",
 '300- to 400-lb Zambesi shark',
 ">1.2 m [4'] tiger shark",
 'White shark, 15\'2" ',
 'Dooley believed his Injury was caused by stingray (Dasyatidae family)',
 "White shark, 4 m [13'] rk",
 "5.5 m [18'] shark",
 'White shark, 3 m ',
 "1.8 m to 2.4 m  [6' to 8'] shark",
 "White shark, 2.1 m [7'] ",
 'Tooth fragments of \x93whaler\x94 shark were recovered, a bull shark, according to Edwards',
 '193-lb shark',
 "Grey nurse shark, 1.8 m [6'] ",
 '<1.5 m shark',
 'Zambesi shark, 2 m [6\'9"] ',
 "White shark, 16', 2,312-lb ",
 "White shark, 4.3 m [14'] (or bronze whaler)",
 "3 m [10'] blue whaler",
 "2.7 m [9'] shark",
 '"A long thin brown-colored shark"',
 "4.3 m [14'] shark",
 '2 m [6\'9"] shark',
 "2.7 m to 3 m [9' to 10'] sharks",
 'Possibly a bronze whaler shark',
 "Bronze whaler shark, 3.7 m [12'] ",
 "Zambesi shark, 1.2 m [4'] ",
 "4.9 m [16']shark",
 "1.8 m [6'] shark ",
 "Bronze whaler shark, 4.6 m [15'] ",
 "1.2 m  [4'] shark",
 '60 cm  shark ',
 "Bronze whaler shark,  3m [10'] ",
 'Said to involve a 4.9 m [16\'] "red shark"',
 " Grey nurse shark,  3 m [10'] ",
 "Bronze whaler shark, 2.1 m [7'] shark",
 "Said to involve a Grey nurse shark 3.7 m [12'] ",
 '36"  shark',
 "Next morning a 3 m [10'] shark was caught that had Andrews' leg in its gut",
 "Blacktip shark, 1.8 m to 2.1 m [6' to 7'] ",
 "White shark, 5.2 m [17'], 2500-lb ",
 "2.7 m [9']shark",
 'Wobbegong shark, 1.4 m [4\'6"] ',
 '2 m  "yellow belly" captive shark. Shark destroyed by aquarium staff next day',
 "Wobbegong shark, O. barbatus,  1.8 m [6'], identified by G.P. Whitley",
 ' "gummy" shark (Rhizoprionodon or Loxodon) 1.2 m [4\']',
 "Grey nurse shark, 2,7 m [9'], 200-lb ",
 "Bronze whaler shark, 2.4 m [8'] Identified by Clyde Buttery",
 'Zambesi shark, 4\'9"',
 '2\' "banjo shark"',
 "2.1 m [7'], 90-kg shark",
 "Grey nurse shark, 2.7 m [9'] ",
 "Wobbegong shark, 1.5 m [5'] ",
 'White shark, based on bite pattern',
 "Hammerhead shark, 1.8 m [6'] ",
 "Six Zambesi sharks seen to 1.5 m [5'] in length",
 "White shark, 3 m [10'], tooth fragment from wounds identified as that of a white shark",
 'Grey nurse shark, 1m ',
 'Bull shark, 1m ',
 "Wobbegong shark, 1.8 m [6'] ",
 "White shark, 3.7 m to 4.6 m [12' to 15'] ",
 "Dusky shark, 2.7 m [9'] dusky shark C. obscurus identified by S. Springer on tooth recovered",
 "White shark, 2.1 m [7']  based on tooth pattern",
 "Bronze whaler shark, 3 m [10'], 200-lb",
 "Sandtiger shark, 2.1 m [7'] ",
 "Bronze whaler shark, 3.7 m [12'] identified by G.P. Whitley based on description",
 "Two 2.1 m [7'] sharks",

#### 01. I need to create a ```column``` with the months of the year based on the column "Date"

In [29]:
df.dropna(subset=['Species '], inplace=True)

In [30]:
mask_bull = df['Species '].str.contains('bull', case=False)
mask_mako = df['Species '].str.contains('mako', case=False)
mask_tiger = df['Species '].str.contains('tiger', case=False)
mask_blacktip = df['Species '].str.contains('blacktip', case=False)
mask_white = df['Species '].str.contains('white', case=False) & df['Species '].str.contains('shark', case=False)


df.loc[mask_bull, 'Type Shark'] = 'Bull'
df.loc[mask_mako, 'Type Shark'] = 'Mako'
df.loc[mask_tiger, 'Type Shark'] = 'Tiger'
df.loc[mask_blacktip, 'Type Shark'] = 'Blacktip'
df.loc[mask_white, 'Type Shark'] = 'White Shark'

df

,Country,Species,Continent,Hemisphere,Month,Year,Season,Type Shark
3,Australia,2 m shark,Oceania,South,6,2018,Winter,NaN
4,Mexico,"Tiger shark, 3m",North America,North,6,2018,Summer,Tiger
6,Brazil,Tiger shark,South America,South,6,2018,Winter,Tiger
10,Australia,Grey reef shark,Oceania,South,5,2018,Autumn,NaN
16,Australia,Shark involvement not confirmed,Oceania,South,5,2018,Autumn,NaN
...,...,...,...,...,...,...,...,...
6009,Greece,234-lb shark,Europe,North,4,1853,Spring,NaN
6014,Australia,Shark involvement prior to death unconfirmed,Oceania,South,12,1852,Summer,NaN
6021,South Africa,White sharks,Africa,South,2,1852,Summer,White Shark
6035,Australia,Shark involvement prior to death unconfirmed,Oceania,South,1,1849,Summer,NaN
6072,Cuba,"""a large shark""",North America,North,4,1839,Spring,NaN

In [31]:
df = df.dropna(subset=["Type Shark"])

In [32]:
df = df.drop('Species ', axis=1)
df

           Country      Continent Hemisphere  Month  Year  Season   Type Shark
4           Mexico  North America      North      6  2018  Summer        Tiger
6           Brazil  South America      South      6  2018  Winter        Tiger
18      Costa Rica  North America      North      4  2018  Spring        Tiger
22       Australia        Oceania      South      4  2018  Autumn  White Shark
23        Maldives           Asia      North      4  2018  Spring        Tiger
...            ...            ...        ...    ...   ...     ...          ...
5489         Egypt         Africa      South      8  1905  Winter        Tiger
5545  South Africa         Africa      South      7  1901  Winter  White Shark
5814     Australia        Oceania      South     11  1880  Spring         Bull
5921         Italy         Europe      North      9  1868  Autumn  White Shark
6021  South Africa         Africa      South      2  1852  Summer  White Shark

[592 rows x 7 columns]

In [33]:
pd.isnull(df).sum()

Country       0
Continent     0
Hemisphere    0
Month         0
Year          0
Season        0
Type Shark    0
dtype: int64

In [34]:
#df.to_csv("data/continent_season_type-shark.csv", index=False)

<div style="background-color: yellow;">
.
</div>

# DRAFT

df['Species'] = df['Species '].str.replace(r'.*bull.*', 'BULL', case=False, regex=True) 
df['Species'] = df['Species '].str.replace(r'.*mako.*', 'MAKO', case=False, regex=True)
df['Species'] = df['Species '].str.replace(r'.*white shark.*', 'WHITE SHARK', case=False, regex=True)
df['Species'] = df['Species '].str.replace(r'.*tiger.*', 'TIGER', case=False, regex=True)
df['Species'] = df['Species '].str.replace(r'.*blacktip.*', 'BLACKTIP', case=False, regex=True)
df.sample()

shark_species = ['MAKO', 'TIGER', 'WHITE SHARK', 'BULL', 'BLACKTIP']

df[df['Species '].isin(shark_species)]

country_to_continent = {
    'Australia': ('Oceania', 'South'),
    'Mexico': ('North America', 'North'),
    'Brazil': ('South America', 'South'),
    'South Africa': ('Africa', 'South'),
    'Thailand': ('Asia', 'North'),
    'Costa Rica': ('North America', 'North'),
    'Maldives': ('Asia', 'North'),
    'Bahamas': ('North America', 'North'),
    'New Caledonia': ('Oceania', 'South'),
    'Ecuador': ('South America', 'South'),
    'Malaysia': ('Asia', 'North'),
    'Cuba': ('North America', 'North'),
    'Mauritius': ('Africa', 'South'),
    'New Zealand': ('Oceania', 'South'),
    'Spain': ('Europe', 'North'),
    'Samoa': ('Oceania', 'South'),
    'Solomon Islands': ('Oceania', 'South'),
    'Japan': ('Asia', 'North'),
    'Egypt': ('Africa', 'North'),
    'Comoros': ('Africa', 'South'),
    'French Polynesia': ('Oceania', 'South'),
    'United Kingdom': ('Europe', 'North'),
    'United Arab Emirates': ('Asia', 'North'),
    'Philippines': ('Asia', 'North'),
    'Indonesia': ('Asia', 'North'),
    'China': ('Asia', 'North'),
    'Fiji': ('Oceania', 'South'),
    'Dominican Republic': ('North America', 'North'),
    'Cayman Islands': ('North America', 'North'),
    'Aruba': ('North America', 'North'),
    'Mozambique': ('Africa', 'South'),
    'Puerto Rico': ('North America', 'North'),
    'Italy': ('Europe', 'North'),
    'Greece': ('Europe', 'North'),
    'France': ('Europe', 'North'),
    'Papua New Guinea': ('Oceania', 'South'),
    'Kiribati': ('Oceania', 'South'),
    'Israel': ('Asia', 'North'),
    'Jamaica': ('North America', 'North'),
    'Guam': ('Oceania', 'North'),
    'Seychelles': ('Africa', 'South'),
    'Belize': ('North America', 'North'),
    'Nigeria': ('Africa', 'North'),
    'Tonga': ('Oceania', 'South'),
    'Canada': ('North America', 'North'),
    'Croatia': ('Europe', 'North'),
    'Saudi Arabia': ('Asia', 'North'),
    'Chile': ('South America', 'South'),
    'Kenya': ('Africa', 'South'),
    'Malta': ('Europe', 'North'),
    'Madagascar': ('Africa', 'South'),
    'Panama': ('North America', 'North'),
    'Somalia': ('Africa', 'North'),
    'Norway': ('Europe', 'North'),
    'Senegal': ('Africa', 'North'),
    'Yemen': ('Asia', 'North'),
    'Sierra Leone': ('Africa', 'North'),
    'Liberia': ('Africa', 'North'),
    'Vanuatu': ('Oceania', 'South'),
    'Honduras': ('North America', 'North'),
    'Sri Lanka': ('Asia', 'North'),
    'Uruguay': ('South America', 'South'),
    'India': ('Asia', 'North'),
    'Marshall Islands': ('Oceania', 'North'),
    'Hong Kong': ('Asia', 'North'),
    'El Salvador': ('North America', 'North'),
    'Angola': ('Africa', 'South'),
    'Bermuda': ('North America', 'North'),
    'Montenegro': ('Europe', 'North'),
    'Tunisia': ('Africa', 'North'),
    'Namibia': ('Africa', 'South'),
    'Portugal': ('Europe', 'North'),
    'Palau': ('Oceania', 'North'),
    'Grenada': ('North America', 'North'),
    'Turkey': ('Asia', 'North'),
    'Singapore': ('Asia', 'North'),
    'Sudan': ('Africa', 'North'),
    'American Samoa': ('Oceania', 'South'),
    'Argentina': ('South America', 'South'),
    'Guatemala': ('North America', 'North'),
    'Nicaragua': ('North America', 'North'),
    'Iraq': ('Asia', 'North'),
    'Iceland': ('Europe', 'North'),
    'Barbados': ('North America', 'North'),
    'Guyana': ('South America', 'South'),
    'Haiti': ('North America', 'North'),
    'Ireland': ('Europe', 'North'),
    'Lebanon': ('Asia', 'North'),
    'Paraguay': ('South America', 'South'),
    'Georgia': ('Asia', 'North'),
    'Guinea': ('Africa', 'North'),
    'Cook Islands': ('Oceania', 'South'),
    'Martinique': ('North America', 'North')
}