# LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import pycountry

#### Import ```attacks.csv```

In [2]:
pd.set_option ("display.max_columns", None) # Display all the columns
df = pd.read_csv("data/attacks.csv", encoding="latin1") # Read file

## Hipothesis 1: 
### Are sharks more aggressive according to the continent?
## Hipothesis 2: 
### Are sharks more aggressive according to the season of the year?
## Hipothesis 3: 
### Which sharks attack the most by continent and by season?

![shark](https://media.giphy.com/media/PfHrNe1cSKAjC/giphy.gif)

<div style="background-color: yellow;">
.
</div>

# 01.CLEANING

In [3]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

#### 01.Remove the ```columns``` i don't need

In [4]:
df.drop(columns=["Investigator or Source", 
                 "pdf", 
                 "href formula", 
                 "href", 
                 "Case Number.1", 
                 "Case Number.2", 
                 "original order", 
                 "Unnamed: 22",
                 "Unnamed: 23",
                 "Name",
                 "Location",
                 "Case Number",
                 "Area",
                 "Age",
                 "Sex ",
                 "Time",
                 "Fatal (Y/N)",
                 "Type",
                 "Activity",
                 "Injury"], 
        axis=1, inplace=True)
df

              Date    Year    Country         Species
0      25-Jun-2018  2018.0        USA      White shark
1      18-Jun-2018  2018.0        USA              NaN
2      09-Jun-2018  2018.0        USA              NaN
3      08-Jun-2018  2018.0  AUSTRALIA        2 m shark
4      04-Jun-2018  2018.0     MEXICO  Tiger shark, 3m
...            ...     ...        ...              ...
25718          NaN     NaN        NaN              NaN
25719          NaN     NaN        NaN              NaN
25720          NaN     NaN        NaN              NaN
25721          NaN     NaN        NaN              NaN
25722          NaN     NaN        NaN              NaN

[25723 rows x 4 columns]

#### 02. Remove the ```rows``` i don't need

In [5]:
df.dropna(axis = 0, how = 'all', inplace = True)
df

             Date    Year             Country         Species
0     25-Jun-2018  2018.0                 USA      White shark
1     18-Jun-2018  2018.0                 USA              NaN
2     09-Jun-2018  2018.0                 USA              NaN
3     08-Jun-2018  2018.0           AUSTRALIA        2 m shark
4     04-Jun-2018  2018.0              MEXICO  Tiger shark, 3m
...           ...     ...                 ...              ...
6297  Before 1903     0.0           AUSTRALIA              NaN
6298  Before 1903     0.0           AUSTRALIA              NaN
6299    1900-1905     0.0                 USA              NaN
6300    1883-1889     0.0              PANAMA              NaN
6301    1845-1853     0.0  CEYLON (SRI LANKA)              NaN

[6302 rows x 4 columns]

<div style="background-color: yellow;">
.
</div>

# 02.TRANSFORMING

    (1) Continents:
        - Asia
        - Europe
        - North America
        - South America
        - Oceania
        - Africa
        
    (2) Seasons:
        ASIA, EUROPE, NORTH AMERICA
        - Winter: Dec(12), Jan(1), Feb(2)
        - Spring: Mar(3), Apr(4), May(5)
        - Summer: Jun(6), Jul(7), Aug(8)
        - Autumn: Sep(9), Oct(10), Nov(11)
        
        SOUTH AMERICA, AFRICA, OCEANIA
        - Winter: Dec(12), Jan(1), Feb(2)
        - Spring: Mar(3), Apr(4), May(5)
        - Summer: Jun(6), Jul(7), Aug(8)
        - Autumn: Sep(9), Oct(10), Nov(11)
        
    (3) Type Sharks:
        - White Shark: WHITE
        - Bull Shark: BULL
        - Mako Shark: MAKO
        - Tiger Shark: TIGER
        - Blacktip Shark: BLACKTIP

### (1) CONTINENTS

In [6]:
# First we remove the NaN values from the Country column, otherwise will get an error trying to capitalize floats.
df.dropna(subset=['Country'], inplace=True) 

# split(): the original string is split into words
# capitalize(): capitalizes the first letter of each word
# join(): the words are joined using the join() method.
df['Country'] = df['Country'].apply(lambda x: ' '.join([word.capitalize() for word in x.split()]))
df

             Date    Year             Country         Species
0     25-Jun-2018  2018.0                 Usa      White shark
1     18-Jun-2018  2018.0                 Usa              NaN
2     09-Jun-2018  2018.0                 Usa              NaN
3     08-Jun-2018  2018.0           Australia        2 m shark
4     04-Jun-2018  2018.0              Mexico  Tiger shark, 3m
...           ...     ...                 ...              ...
6297  Before 1903     0.0           Australia              NaN
6298  Before 1903     0.0           Australia              NaN
6299    1900-1905     0.0                 Usa              NaN
6300    1883-1889     0.0              Panama              NaN
6301    1845-1853     0.0  Ceylon (sri Lanka)              NaN

[6252 rows x 4 columns]

#### 02. Now we want to create a ```for loop``` to check if the elements of the ```column "Country"``` are detected by ```pycountry```.

In [7]:
valid_countries = []
for country in df['Country']:
    if pycountry.countries.get(name=country) is not None:
        valid_countries.append(country)

#### 03. Now we want the column ````"Country"``` to have only the values of the list ```valid_countries```.

In [28]:
df = df[df['Country'].isin(valid_countries)] #  using isin you can filter the rows according to whether the values belong to the valid_countries list or not.
df = df.reset_index()

In [29]:
country_to_continent = {
    'Australia': 'Oceania',
    'Mexico': 'North America',
    'Brazil': 'South America',
    'South Africa': 'Africa',
    'Thailand': 'Asia',
    'Costa Rica': 'North America',
    'Maldives': 'Asia',
    'Bahamas': 'North America',
    'New Caledonia': 'Oceania',
    'Ecuador': 'South America',
    'Malaysia': 'Asia',
    'Cuba': 'North America',
    'Mauritius': 'Africa',
    'New Zealand': 'Oceania',
    'Spain': 'Europe',
    'Samoa': 'Oceania',
    'Solomon Islands': 'Oceania',
    'Japan': 'Asia',
    'Egypt': 'Africa',
    'Comoros': 'Africa',
    'French Polynesia': 'Oceania',
    'United Kingdom': 'Europe',
    'United Arab Emirates': 'Asia',
    'Philippines': 'Asia',
    'Indonesia': 'Asia',
    'China': 'Asia',
    'Fiji': 'Oceania',
    'Dominican Republic': 'North America',
    'Cayman Islands': 'North America',
    'Aruba': 'North America',
    'Mozambique': 'Africa',
    'Puerto Rico': 'North America',
    'Italy': 'Europe',
    'Greece': 'Europe',
    'France': 'Europe',
    'Papua New Guinea': 'Oceania',
    'Kiribati': 'Oceania',
    'Israel': 'Asia',
    'Jamaica': 'North America',
    'Guam': 'Oceania',
    'Seychelles': 'Africa',
    'Belize': 'North America',
    'Nigeria': 'Africa',
    'Tonga': 'Oceania',
    'Canada': 'North America',
    'Croatia': 'Europe',
    'Saudi Arabia': 'Asia',
    'Chile': 'South America',
    'Kenya': 'Africa',
    'Malta': 'Europe',
    'Madagascar': 'Africa',
    'Panama': 'North America',
    'Somalia': 'Africa',
    'Norway': 'Europe',
    'Senegal': 'Africa',
    'Yemen': 'Asia',
    'Sierra Leone': 'Africa',
    'Liberia': 'Africa',
    'Vanuatu': 'Oceania',
    'Honduras': 'North America',
    'Sri Lanka': 'Asia',
    'Uruguay': 'South America',
    'India': 'Asia',
    'Marshall Islands': 'Oceania',
    'Hong Kong': 'Asia',
    'El Salvador': 'North America',
    'Angola': 'Africa',
    'Bermuda': 'North America',
    'Montenegro': 'Europe',
    'Tunisia': 'Africa',
    'Namibia': 'Africa',
    'Portugal': 'Europe',
    'Palau': 'Oceania',
    'Grenada': 'North America',
    'Turkey': 'Asia',
    'Singapore': 'Asia',
    'Sudan': 'Africa',
    'American Samoa': 'Oceania',
    'Argentina': 'South America',
    'Guatemala': 'North America',
    'Nicaragua': 'North America',
    'Iraq': 'Asia',
    'Iceland': 'Europe',
    'Barbados': 'North America',
    'Guyana': 'South America',
    'Haiti': 'North America',
    'Ireland': 'Europe',
    'Lebanon': 'Asia',
    'Paraguay': 'South America',
    'Georgia': 'Asia',
    'Guinea': 'Africa',
    'Cook Islands': 'Oceania',
    'Martinique': 'North America',
}

# create a new dictionary that maps each continent to a list of countries in that continent
continent_to_countries = {}

for country, continent in country_to_continent.items():
    if continent not in continent_to_countries:
        continent_to_countries[continent] = []
    continent_to_countries[continent].append(country)
    
#print(continent_to_countries)

In [30]:
df['Continent'] = df['Country'].map(country_to_continent).fillna('Unknown')
df

,index,Date,Year,Country,Species,Continent,Month,Season,Type Shark,Species
0,4,2018-06-04,2018.0,Mexico,"Tiger shark, 3m",North America,6,Summer,Tiger,"Tiger shark, 3m"
1,6,2018-06-03,2018.0,Brazil,Tiger shark,South America,6,Winter,Tiger,Tiger shark
2,18,2018-04-28,2018.0,Costa Rica,Tiger shark,North America,4,Spring,Tiger,Tiger shark
3,22,2018-04-24,2018.0,Australia,"White shark, 3.5 m",Oceania,4,Autumn,White Shark,"White shark, 3.5 m"
4,23,2018-04-23,2018.0,Maldives,Tiger shark,Asia,4,Spring,Tiger,Tiger shark
...,...,...,...,...,...,...,...,...,...,...
587,5489,1905-08-24,1905.0,Egypt,"Tiger shark, 3.9 m",Africa,8,Winter,Tiger,"Tiger shark, 3.9 m"
588,5545,1901-07-30,1901.0,South Africa,White shark,Africa,7,Winter,White Shark,White shark
589,5814,1880-11-25,1880.0,Australia,Bull shark,Oceania,11,Spring,Bull,Bull shark
590,5921,1868-09-01,1868.0,Italy,White shark,Europe,9,Autumn,White Shark,White shark
591,6021,1852-02-26,1852.0,South Africa,White sharks,Africa,2,Summer,White Shark,White sharks

###  (2) SEASONS

#### 01. I need to create a ```column``` with the ```months``` of the year based on the column "Date"

In [31]:
# Convert the 'Date' column to datetime format. 
# errors='coerce' is used to convert any invalid value in NaT
df['Date'] = pd.to_datetime(df['Date'], errors='coerce') 

# Delete NaT values from Date
df.dropna(subset=['Date'], inplace=True)

# Create a column 'Month' with the values of the months
df['Month'] = df['Date'].dt.month 

df

,index,Date,Year,Country,Species,Continent,Month,Season,Type Shark,Species
0,4,2018-06-04,2018.0,Mexico,"Tiger shark, 3m",North America,6,Summer,Tiger,"Tiger shark, 3m"
1,6,2018-06-03,2018.0,Brazil,Tiger shark,South America,6,Winter,Tiger,Tiger shark
2,18,2018-04-28,2018.0,Costa Rica,Tiger shark,North America,4,Spring,Tiger,Tiger shark
3,22,2018-04-24,2018.0,Australia,"White shark, 3.5 m",Oceania,4,Autumn,White Shark,"White shark, 3.5 m"
4,23,2018-04-23,2018.0,Maldives,Tiger shark,Asia,4,Spring,Tiger,Tiger shark
...,...,...,...,...,...,...,...,...,...,...
587,5489,1905-08-24,1905.0,Egypt,"Tiger shark, 3.9 m",Africa,8,Winter,Tiger,"Tiger shark, 3.9 m"
588,5545,1901-07-30,1901.0,South Africa,White shark,Africa,7,Winter,White Shark,White shark
589,5814,1880-11-25,1880.0,Australia,Bull shark,Oceania,11,Spring,Bull,Bull shark
590,5921,1868-09-01,1868.0,Italy,White shark,Europe,9,Autumn,White Shark,White shark
591,6021,1852-02-26,1852.0,South Africa,White sharks,Africa,2,Summer,White Shark,White sharks

#### 03. I need to create a ```column``` with the ```seasons``` of the year grouping the months in the column "Month"

In [32]:
def get_seasons(continent, month):
    
    if continent == 'North America':
        if month in [12, 1, 2]:
            return 'Winter'
        elif month in [3, 4, 5]:
            return 'Spring'
        elif month in [6, 7, 8]:
            return 'Summer'
        else:
            return 'Autumn'
        
    elif continent == 'South America':
        if month in [12, 1, 2]:
            return 'Summer'
        elif month in [3, 4, 5]:
            return 'Autumn'
        elif month in [6, 7, 8]:
            return 'Winter'
        else:
            return 'Spring'
        
    elif continent == 'Europe':
        if month in [12, 1, 2]:
            return 'Winter'
        elif month in [3, 4, 5]:
            return 'Spring'
        elif month in [6, 7, 8]:
            return 'Summer'
        else:
            return 'Autumn'
        
    elif continent == 'Africa':
        if month in [12, 1, 2]:
            return 'Summer'
        elif month in [3, 4, 5]:
            return 'Autumn'
        elif month in [6, 7, 8]:
            return 'Winter'
        else:
            return 'Spring'
        
    elif continent == 'Asia':
        if month in [12, 1, 2]:
            return 'Winter'
        elif month in [3, 4, 5]:
            return 'Spring'
        elif month in [6, 7, 8]:
            return 'Summer'
        else:
            return 'Autumn'
        
    elif continent == 'Oceania':
        if month in [12, 1, 2]:
            return 'Summer'
        elif month in [3, 4, 5]:
            return 'Autumn'
        elif month in [6, 7, 8]:
            return 'Winter'
        else:
            return 'Spring'

In [33]:
df['Season'] = df.apply(lambda x: get_seasons(x['Continent'], x['Month']), axis=1)
df.reset_index()
df_1 = df
df_1

,index,Date,Year,Country,Species,Continent,Month,Season,Type Shark,Species
0,4,2018-06-04,2018.0,Mexico,"Tiger shark, 3m",North America,6,Summer,Tiger,"Tiger shark, 3m"
1,6,2018-06-03,2018.0,Brazil,Tiger shark,South America,6,Winter,Tiger,Tiger shark
2,18,2018-04-28,2018.0,Costa Rica,Tiger shark,North America,4,Spring,Tiger,Tiger shark
3,22,2018-04-24,2018.0,Australia,"White shark, 3.5 m",Oceania,4,Autumn,White Shark,"White shark, 3.5 m"
4,23,2018-04-23,2018.0,Maldives,Tiger shark,Asia,4,Spring,Tiger,Tiger shark
...,...,...,...,...,...,...,...,...,...,...
587,5489,1905-08-24,1905.0,Egypt,"Tiger shark, 3.9 m",Africa,8,Winter,Tiger,"Tiger shark, 3.9 m"
588,5545,1901-07-30,1901.0,South Africa,White shark,Africa,7,Winter,White Shark,White shark
589,5814,1880-11-25,1880.0,Australia,Bull shark,Oceania,11,Spring,Bull,Bull shark
590,5921,1868-09-01,1868.0,Italy,White shark,Europe,9,Autumn,White Shark,White shark
591,6021,1852-02-26,1852.0,South Africa,White sharks,Africa,2,Summer,White Shark,White sharks

### (3) TYPES OF SHARK

In [14]:
list(df['Species '].unique())

['2 m shark',
 'Tiger shark, 3m',
 nan,
 'Tiger shark',
 'Grey reef shark',
 'Shark involvement not confirmed',
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'White shark, 2.5 m',
 'Juvenile bull shark',
 'Bull shark',
 'White shark',
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Blacktip shark',
 'Juvenile white shark,  2.7 to 3.2 m',
 'Bull shark, 2 m',
 'Possibly a wobbegong',
 'Injury believed caused by an eel, not a shark',
 'Galapagos shark?',
 '2m shark',
 'Bull shark, 3 m ',
 'Grey reef shark. 2 m',
 'small shark',
 'Wobbegong shark?',
 'Juvenile nurse shark',
 "Nurse shark. 5'",
 'Tiger shark, female',
 'Wobbegong shark, 1 m',
 'White shark, 4.5 m',
 'Death may have been due to drowning',
 'Porbeagle, 1.5 m',
 'White shark, 3 to 3.5m ',
 'White shark, 3 m',
 'Shark involvement questionable',
 "5' shark",
 'Oceanic whitetip shark, 1.8 to 2 m',
 "Blue shark 6'",
 'Shark involvement prior to death not confirmed',
 'White shark, 4 m',
 'Seven-gill shark',
 "10' shark",
 'Bull shark, 1.5',
 'Lemon shark pup',
 'Caribbean reef shark',
 'Bull shark, 4 m',
 'Bull shark, 1 m',
 'a small shark',
 'Wobbegong shark, 2m',
 'Broadnose sevengill shark, 1.5 m',
 'Blue shark',
 "Bull shark, 6'",
 'reef shark, 1m',
 'Tawny nurse shark',
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 "Mako shark, 1.5 m [5'] ",
 'Grey reef shark, 2 m',
 'Tiger shark, 2.5 m',
 'Nurse shark, 2.5-ft',
 'Sandtiger shark',
 'No shark involvement',
 "Silky shark, 6.5'",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m ',
 'Galapagos shark',
 'Bull shark, 2.8 to 3.1 m',
 "6' shark",
 'White shark, 3.9 to 4.2 m',
 'Bronze whaler shark, 1.5m',
 'White shark, 2m to 3 m',
 '1m to 1.2 m shark',
 'Bull shark, 3.5 m',
 'White shark, 6 m',
 'Shark involvement not cofirmed',
 'Blacktip Reef shark ',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 'Bull shark, 1.3 m',
 '5 m shark',
 '1.5 m shark',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 'White shark, 4 to 5 m',
 'Shark involvement prior to death still to be determined',
 'Shark involvement not confirmed & highly unlikely',
 '1 m shark',
 '2 white shark: 13\' & 9"8"',
 "7' shark",
 'reef shark',
 "Bull shark, 9' to 10'",
 'Angel shark',
 "Caribbean reef shark, 7' to 8'",
 ' Bull shark, 1.2m ',
 '3m shark',
 ' Tawney nurse shark, 1m',
 " white shark, 15' ",
 'Cow shark',
 'reef shark?',
 ' Raggedtooth shark, 2m',
 '3 m to 4 m white shark',
 'Invalid',
 'Blacktip reef shark ',
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 ' Wobbegong shark, 1.6 to 1.8m ',
 'Tiger shark, 3m ',
 'Thought to involve a white shark',
 'Reported to involve a white shark',
 'Blacktip reef shark, 1m',
 'Reported to involve a 4 m white shark',
 "Mako shark, 5'",
 'Nurse shark',
 'Wobbegong, 2m',
 'Grey nurse shark, 3m',
 'Possibly a blacktip reef shark',
 'Raggedtooth shark, 1.5 m',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 'White shark, 4m',
 'Lemon shark',
 'White shark, 5m',
 'Bronze whaler shark, 3m',
 '2.5 m shark',
 'Bull shark, 2m ',
 "Tiger shark, 6'",
 'Possibly a 3 m bull shark',
 '4.5 m shark',
 'Lemon shark, 2.5m to 3m ',
 'White shark or bronze whaler',
 'Salmon shark suspected, but unlikely',
 "15' shark",
 'Blue shark, 2.5m',
 'White shark, 2 m',
 'Bull shark, 3m',
 'White shark, 4 m to 5m ',
 'White shark, 6m ',
 'White shark, 4m ',
 'Possibly a bull shark',
 'Tawny nurse shark, 40cm',
 'Grey nurse shark',
 'White shark, 7m',
 'White shark, 2.7 m',
 'Thought to involve a bull shark',
 'Allegedly a 4 m tiger shark',
 'White shark, 2.5m',
 "White shark, 10'",
 'Port Jackson shark, 1m',
 'Tiger shark, 2m',
 "White shark, >6'",
 'Grey reef shark ',
 'White shark, 3m to 4m',
 'Bull shark, 3m female',
 'Zambesi shark',
 ' Tiger shark, 2.8m',
 'reef shark, 1.5m',
 'possibly a bronze whaler shark',
 ' Bull shark, 2.5 m',
 'Bull shark, 2.5m',
 '3 m to 4 m shark',
 'White shark x 2',
 'Oceanic whitetip shark, 2.5m ',
 'Mako shark ',
 'Oceanic whitetip shark, 2.5m, female',
 'Bull shark, 1.4m ',
 "Possibly a 6' lemon shark",
 'Shark involvement prior to death was not confirmed',
 "Oceanic whitetip shark, 6'",
 'Wobbegong shark, 1.6m',
 'Thought to involve a juvenile hammerhead shark',
 'Whitetip reef shark, 1m',
 'Zambesi shark, 2m ',
 'White shark, 2.8 to 3 m ',
 'Spurdog',
 'White shark, 2m',
 "Caribbean reef shark, 6'",
 'Thought to involve a Bronze whale shark, 2m',
 'Oceanic whitetip shark',
 'Oceanic whitetip shark, 2.5 to 3m',
 "Blacktip shark, 4'",
 "2' to 3' shark",
 'Raggedtooth shark',
 'Bronze whaler shark?',
 'Blue shark, 1m',
 '2.6 m shark',
 'White shark, 2.5m ',
 'Bull shark, 2.7 m ',
 "White shark, 12' ",
 'White shark, 5.5 m ',
 'Dusky shark, 2m',
 'White shark, 3.5m',
 'Broadnose sevengill shark',
 'White shark, 4m to 5m ',
 '4 to 5m white shark',
 'Raggedtooth shark, 2m',
 'White shark, 4.5 to 5 m ',
 'Bronze whaler shark',
 ' reef shark, 1.8m',
 '5 m white shark',
 "8' white shark or 7-gill shark",
 "3'  shark",
 "2'  shark",
 "Bull shark, 6' to 7'",
 'Tiger sharks in area',
 '2 small bull sharks',
 'Bull shark, 1.8m',
 'Tiger shark, 2.3m ',
 'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
 'Shark involvement not confirmed; thought to be a barracuda bite',
 'A bull shark, according to some of the divers on the boat',
 'Blacktip shark, 2m',
 'Mako shark, 90kg',
 'Bronze whaler shark, 4m',
 '"a small shark"',
 'Not a shark attack; it was a hoax',
 '2.27 m shark',
 '1.5 to 2 m shark',
 'Oceanic whitetip sharks were in the vicinity',
 'Gray reef shark',
 "3' small spotted catshark, Scyliorhinus canicula",
 "Bull shark, 5' ",
 '2 to 2.5 m shark',
 'White shark, 3m',
 '2.4 m shark',
 '2.5 to 3 m shark',
 '2 to 3 m shark',
 'Raggedtooth shark, 150-kg',
 'White shark, 5m ',
 'Bull shark, 1.5m ',
 'White shark, 3.5m ',
 'Shark involvement not confirmed, injury may have been caused by a bluefish',
 'Bull or tiger shark',
 "14' white shark",
 'Wobbegong shark, 2 m ',
 'Bronze whaler shark, a  juvenile ',
 'Raggedtooth shark, 2.5 m to 3 m ',
 "Tiger shark, 5' ",
 'Bronze whaler shark, 2 m',
 '4.5 m white shark',
 '3.5 m white shark',
 'Said to involve a 1.5 m shark',
 'Whitetip reef shark',
 '3 m white shark',
 'Raggedtooth shark, 2.5m ',
 "14' to 16' white shark",
 "4 m [13'] white shark",
 "2 m [6.75'] shark, 200-kg shark T",
 "3.5 m [11.5']shark",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 "2 m [6.75'] copper shark",
 "4 m [13'] shark",
 "6 m [20'] white shark",
 "Bronze whaler shark, 4.3 m [14'] ",
 "3 m [10'] shark",
 "Bronze whaler shark, 2 m to 3 m [6.75' to 10']  ",
 '4.5 m & 5 m white shark ',
 "2.5 m [8.25'] bull shark",
 "2 m [6.75'] white shark",
 "Bronze whaler shark, 2.4 m [8'] ",
 "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
 "Tiger shark, 3 m [10'] ",
 '2 sharks, 4.5 m & 3 m ',
 '"black tipped" shark',
 "Bronze whaler shark, 2.5 m [8.25'] ",
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "Wobbegong shark, 1.2 m [4'] k",
 "White shark, 5.5 m [18']",
 'small sharks',
 'Questionable Incident',
 "5 m [16.5'] white shark",
 'bull shark',
 "Bronze whaler shark, 1.5 m [5'] ",
 "2 m [6.75'] sevengill  shark",
 '60 cm [23.6"] blind or brown shark',
 "4 m to 5 m [13' to 16.5'] white shark",
 'Possibily a  1.5 to 2 m sandtiger shark',
 'Shark involvement doubtful',
 "Raggedtooth shark, 3.5 m [11.5'] ",
 'Shortfin mako shark',
 "Wobbegong shark, 1.2 m [4'] ",
 "Tiger shark, 4 m [13']  ?",
 '2.5 oceanic whitetip shark',
 "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
 '2 m cow shark',
 "3.5 m [11.5'] white shark",
 'Unidentified species',
 "2.1 m  [7'] bull shark",
 "2.5 m [8.25'] white shark",
 "Thought to involve a 2 m [6.75'] grey nurse shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 "Bull shark, 7'",
 'Reported to involve a hammerhead shark',
 'White shark, 4 m white shark',
 'Wobbegong shark, 1m',
 'Shark involvement not confirmed, injury may be due to a stingray',
 'Possibly a bull shark or tiger shark',
 "Tiger shark, 1.5 m [5']k",
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "White shark, 6m [20']",
 'Bull shark, 400-lb ',
 'Shark involvement prior to death unconfired',
 '1.5 m [5\'] "whaler shark"',
 'C. leucas tooth fragment recovered from kayak',
 "Tiger shark, 3 m [10']",
 'Zambesi shark?',
 'Unidentified',
 "Mako shark, 2 m [6.75'] ",
 "Tiger shark, 1.8 m [6']",
 "12' sandtiger shark",
 "3 m [10'] bull shark",
 "1.9 m [6.5'] bull shark",
 "White shark, 2.7 m to 3 m [9' to 10'] ",
 "White shark, 2.7 m [9'] ",
 "White shark, 5 m [16.5'] ",
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "2 m [6.75'] shark",
 "White shark, 4.3 m [14'] ",
 "6 m [20'] shark",
 'White shark, 4.5 m [14\'9"] ',
 "Porbeagle shark, 3 m [10']rk",
 'Tiger shark, 4 m ',
 "White shark, 4.9 m [16'] ",
 "White shark, 4 m to 5 m [13' to 16.5'] ",
 '100-kg [221-lb] dead blue shark',
 "White shark, 3.5 m [11.5']  male ",
 "Grey reef shark, 2 m [6.75'] ",
 'Tiger sharks & bull sharks (20 sharks in all)',
 'Tiger shark?',
 "Tiger shark, 4 m [13'] ?",
 "2 m to 2.5 m [6.75'  to 8.25'] shark",
 'White shark, 2.5 m ',
 'Sevengill shark',
 'Thought to involve a white, bull or tiger shark',
 '1.3 to 1.6 m shark',
 "Said to involve a 7 m [23'] white shark",
 "2.7 m [9']  bull shark or Caribbean reef shark",
 "White shark, 3 m to 5 m [10' to 16.5'] ",
 "White shark, 4 m [13'] ",
 "Tiger shark, 2.5 m [8.25']",
 'Grey reef shark, 1.5 m ',
 '200 to 300 kg shark',
 'Mako shark, 1.3 m gaffed ',
 'Bronze whaler or tiger shark',
 'Though to involve a white shark',
 "Caribbean reef shark, 1.2 m to 1.5 m [4' to 5'] ",
 'Sandtiger shark, 2 m, male ',
 "White shark, 4.9 m [16']",
 "Raggedtooth shark, 1.2 m [4'] ",
 "5' to 6' shark",
 'Thought to involve a 5.5 m white shark named Kong',
 "3 m to 4 m [10' to 13'] white shark",
 "3 m [10'] white shark",
 'Small dusky shark or blackfin shark',
 "5.5 m [18'] white shark",
 "Tiger shark, 5.2 m [17']",
 'Thought to involve an oceanic whitetip shark or a white shark',
 "Tiger shark, 2.7m  [9']",
 'Possibly a Caribbean reef shark',
 '3.7m  to 4.2 m white shark',
 'Tiger shark, 2m to 3m ',
 "1.8 m to 2.1 m [6' to 7'] shark",
 'Tiger shark, 4.5 m [14\'9"]',
 '4 m white shark',
 "2.5 m [8.25'] white shark ",
 'Shark involvement prior to death suspected but not confirmed',
 '"reef shark"',
 "Mako shark, 4.3 m [14']",
 '4 m shark',
 '"small shark"',
 'Though to involve a tiger shark',
 "3.7 m [12'] shark",
 'Bronze whaler shark, 2 m ',
 "Tiger shark, 1.8 m [6'] ",
 ' ',
 "Raggedtooth shark, 2.7 m [9'] ",
 "1.8 m [6'] shark",
 '4.9 m white shark',
 '3.6 m [11\'9"] white shark',
 '1.3 m [4\'3"] shark',
 'Tiger shark caught 6 days later with diver\x92s remains in its gut',
 "3.7 m [12'] white shark",
 "1.2 m [4'] shark",
 "1.8 m [6'] blacktip shark or Caribbean reef shark",
 "Remains recovered from 5.5 m [18'] white shark",
 'Possiby white shark',
 "1.5 m [5'] shark",
 '4.2 m white shark',
 "1.8 m [6'] blacktip shark",
 'White shark, identification by K. Nakaya',
 "4 m [13'], 590-kg white shark",
 '>2 m shark',
 'Bronze whaler shark, 3 m',
 "5 m [16.5'] white shark, identification by K. Nakaya",
 "5 m [16.5'] shark",
 'Questionable incident',
 "Bronze whaler shark, 2.3 m [7.5'] ",
 "Zambesi shark, 1.7 m [5.5'] ",
 "Possibly a 1.5 m [5'] blacktip shark",
 "3 m [10'], 270- kg [595-lb] shark",
 "Tiger shark, >3 m [10']",
 '3.5 m [11.5\'] female white shark named "Notchfin"',
 '170-kg, 2.8 m shark',
 'Grey nurse shark, 2 m',
 "5 m  [16.5'] white shark",
 '4.5 m [14\'9"] white shark',
 "1.2 m to 1.5 m [4' to 5'] shark",
 '6 m, 600-kg shark',
 '2 m hammerhead',
 "5.5 m [18'] white shark, identified by witnesses & tooth marks",
 "2.3 m [7.5'] white shark, identified by M. Smale",
 'Tiger shark, 3 m ',
 '2 m shark, possibly a bronze whaler',
 "2.7 m [9'] white shark",
 'White shark, identified by tooth pattern',
 ">3.4 m [11'] white shark",
 "Bronze whaler shark, 3 m [10'] ",
 'Shark involvement suspected but not confirmed',
 'Tiger shark, 3.5 m ',
 "3 m [10'] gaffed shark",
 "Tiger shark, 4 m [13'] ",
 "16' white shark",
 '2 m to 2.5 m shark',
 "1.5 m [5'] Caribbean reef shark",
 "1.5 m to 2 m [5' to 6.75'] shark",
 '1 m "grey-colored" shark',
 'Zambezi shark (tooth fragments recovered)',
 "Mako shark, 3 m [10'], 200-kg [441-lb] ",
 '1.5 m copper shark',
 '40 to 50 sharks attacked survivors in the water',
 "3.5 m [11.5']  white shark",
 '4.3 m shark',
 'Bronze whaler shark, 2 m to 3 m ',
 ">2.5 m [8.25'] white shark",
 "Raggedtooth shark, 2.5 m [8.25'] ",
 'Raggedtooth shark, 1.96 m, 140-kg ',
 '1.6 m shark',
 "Tooth fragment of a white shark recovered. Authorities believed shark was 6 m [20']  total length",
 '>1 m shark',
 ">2.4 m [8'] white shark",
 "Raggedtooth shark, 2 m [6.75'] ",
 'Bronze whaler shark, 3.5 m ',
 '30-kg [66-lb] shark',
 '3.5 m white shark, tooth fragments recovered',
 '6 m shark',
 '4.5 m to 5.5m white shark',
 "2.4 m [8'] white shark",
 "2.5 m [8.25'] shark",
 'Raggedtooth shark, 56-kg [123-lb] ',
 " 1.5 m [5'] dusky shark",
 '1.5 m white-tipped reef shark',
 'Raggedtooth shark, 1 m ',
 "12' white shark",
 'Raggedtooth shark, >1 m ',
 '.5 m shark',
 "Tiger shark, 5 m [16.5']",
 "3 m to 4 m [10' to 13'] shark",
 "6' blacktip shark",
 "Raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)",
 "1.8 m [6'] Zambezi shark",
 'Blacktip or spinner shark',
 'Believed to involve a 2.8 m [9\'3"] white shark',
 "2.4 m [8'] white shark, species identity confirmed by tooth fragment",
 "2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard",
 'Lemon shark, 2 m [6\'9"]',
 "5.5 m [18''] white shark",
 "3.5 m [11.5'], 510-kg [1125-lb] hooked & shot white shark",
 'Mako shark (tooth fragments recovered)',
 "Possibly a  1.8 m [6'] Zambezi shark",
 '"gray shark"',
 "Tiger shark, 2.1 m [7']",
 'Juvenile dusky or blacktip shark',
 '1 m hammerhead shark',
 "1.5 m [5'] hammerhead shark",
 '2.8 m [9\'3"] white shark',
 '2.2 m shark',
 '2 m [6\'9"] Zambesi shark',
 'Hammerhead shark',
 'Raggedtooth shark, 2 m [6\'9"] ',
 'White shark?',
 'White shark, 5 m ',
 "Raggedtooth shark, 50-kg [110-lb], 2 m [6.75'] gaffed ",
 "White shark, 2.3 m [7.5'], tooth fragment recovered",
 "White shark, 3.7 m [12'] ",
 '270 kg shark',
 'Thought to involve a blacktip shark',
 "1.5 to 2 m [5' to 6.75'] shark",
 'Mako shark, 2.3 m, 150-kg  ',
 "White shark, 3 m [10'] k",
 "White shark, 3.5 m [11.5'], species identity confirmed by tooth fragment",
 "2.7 m  [9'] shark",
 'Mako shark, 180-kg [397-lb]',
 'Whale shark',
 'White shark named \x93Spotty\x94',
 "White shark, 3 m [10'] ",
 "2.4 m [8'] shark",
 "Grey nurse shark, 10' ",
 'Juvenile dusky shark',
 'Bronze whaler',
 "White shark, 2.4 m [8']",
 "12' shark",
 "2.4 m [8'] whaler shark",
 'White shark, 600-kg [1323-lb]',
 "1.5 m [5']  shark",
 "Carpet shark, 10' ",
 'Copper shark, 50-kg [110-b] ',
 "Shortfin mako shark, 2.3 m [7.5'] ",
 "Raggedtooth shark, 1.5 m [5'] ",
 "7' to 8' bull shark",
 '2 m to 3 m shark',
 "White shark, > 3 m [10']",
 "Bronze whaler shark, 10' ",
 '1.5 m grey reef shark',
 "White shark, 2.5 m [8.25'] ",
 "White shark, 3 m [10']rk",
 '1.5 m to 2 m shark',
 "Grey nurse shark, 11'",
 "White shark, 3 m [10'], species identity confirmed by witnesses & tooth pattern in leg & board ",
 'White shark according to tooth pattern and witnesses',
 "White shark, 4.6 m [15'] ",
 'Raggedtooth shark, 2 m [6\'9"], 5-year-old, captive female ',
 'Considered a "Doubtful" incident',
 "2 scalloped hammerhead sharks, 1.5 m & 1.8 m [5' & 6']",
 '90-kg "blackfin" shark',
 "White shark, 4.3 m [14'], (tooth fragment recovered)",
 "1.5 m to 2 m [5' to 6.75'] Caribbean reef shark ",
 "Bronze whaler shark, 1.8 m [6'] ",
 '"Blue whaler" (Galeolamna)',
 "1.5 m to 1.8m [5' to 6'] shark",
 "3' shark",
 "1.5 m to 1.8 m [5' to 6'] shark",
 'White shark or thresher shark',
 "2.1 m [7'] sandtiger shark",
 '"sand shark"',
 "2.1 m [7'] shark",
 "Grey nurse shark, 1.5 m [5'] ",
 "Grey nurse shark, 1.5 m [5']",
 "Bronze whaler shark, 2.1 m [7'], a tooth was embedded in the speargun ",
 "Mako shark, 1.9 m [6.5'] ",
 'Believed white shark and other smaller species of sharks involved.',
 "Alleged to involve a White shark, 7.6 m [25'] ",
 "White shark, 2.5 m [8.25'], an immature female, previously injured",
 'Copper shark',
 "Wobbegong shark, 5' ",
 "1.5 m to 1.8 m [5' to 6'] Zambesi shark",
 "76 cm [2.5'] carpet shark",
 '1.8 m to 2 m [6\' to 6\'9"] shark',
 "1.8 m [6'] carpet shark",
 "4.6 m [15'] shark",
 "Grey nurse shark, 2.4 m [8'] ",
 "1.8 m [6'], 180-lb shark",
 "0.9 m [3'] shark",
 '300-kg [662-lb] shark',
 'Lemon shark, 0.5 m',
 'Tiger shark, tooth fragment recovered',
 "1.8 m [6'], 136-kg [300-lb] shark ",
 'Raggedtooth shark ',
 "White shark, 2.4 m [8'] ",
 'White shark, 2.7 m [9\'1"], 750-lb ',
 "Grey nurse shark, 1.8 m [6']",
 "1.8 to 2.4 m [6' to 8'] shark",
 'Lemon shark ',
 "White shark, 1.5 m [5'] k",
 "White shark, 3 m to 3.7 m [10' to 12'] ",
 'White shark, 3.6 m [11\'9"] ',
 'Wobbegong',
 "2.1 m to 2.4 m  [7' to 8'] shark",
 "Zambesi shark, 1.8 m [6'] ",
 "1.8 m [6']  shark",
 "4.3 m [14'], 1000-lb shark",
 'Dusky shark, 1 m ',
 "Wobbegong shark, 3' ",
 "White shark, 1.7 m [5.5']",
 '300- to 400-lb Zambesi shark',
 ">1.2 m [4'] tiger shark",
 'White shark, 15\'2" ',
 'Dooley believed his Injury was caused by stingray (Dasyatidae family)',
 "White shark, 4 m [13'] rk",
 "5.5 m [18'] shark",
 'White shark, 3 m ',
 "1.8 m to 2.4 m  [6' to 8'] shark",
 "White shark, 2.1 m [7'] ",
 'Tooth fragments of \x93whaler\x94 shark were recovered, a bull shark, according to Edwards',
 '193-lb shark',
 "Grey nurse shark, 1.8 m [6'] ",
 '<1.5 m shark',
 'Zambesi shark, 2 m [6\'9"] ',
 "White shark, 16', 2,312-lb ",
 "White shark, 4.3 m [14'] (or bronze whaler)",
 "3 m [10'] blue whaler",
 "2.7 m [9'] shark",
 '"A long thin brown-colored shark"',
 "4.3 m [14'] shark",
 '2 m [6\'9"] shark',
 "2.7 m to 3 m [9' to 10'] sharks",
 'Possibly a bronze whaler shark',
 "Bronze whaler shark, 3.7 m [12'] ",
 "Zambesi shark, 1.2 m [4'] ",
 "4.9 m [16']shark",
 "1.8 m [6'] shark ",
 "Bronze whaler shark, 4.6 m [15'] ",
 "1.2 m  [4'] shark",
 '60 cm  shark ',
 "Bronze whaler shark,  3m [10'] ",
 'Said to involve a 4.9 m [16\'] "red shark"',
 " Grey nurse shark,  3 m [10'] ",
 "Bronze whaler shark, 2.1 m [7'] shark",
 "Said to involve a Grey nurse shark 3.7 m [12'] ",
 '36"  shark',
 "Next morning a 3 m [10'] shark was caught that had Andrews' leg in its gut",
 "Blacktip shark, 1.8 m to 2.1 m [6' to 7'] ",
 "White shark, 5.2 m [17'], 2500-lb ",
 "2.7 m [9']shark",
 'Wobbegong shark, 1.4 m [4\'6"] ',
 '2 m  "yellow belly" captive shark. Shark destroyed by aquarium staff next day',
 "Wobbegong shark, O. barbatus,  1.8 m [6'], identified by G.P. Whitley",
 ' "gummy" shark (Rhizoprionodon or Loxodon) 1.2 m [4\']',
 "Grey nurse shark, 2,7 m [9'], 200-lb ",
 "Bronze whaler shark, 2.4 m [8'] Identified by Clyde Buttery",
 'Zambesi shark, 4\'9"',
 '2\' "banjo shark"',
 "2.1 m [7'], 90-kg shark",
 "Grey nurse shark, 2.7 m [9'] ",
 "Wobbegong shark, 1.5 m [5'] ",
 'White shark, based on bite pattern',
 "Hammerhead shark, 1.8 m [6'] ",
 "Six Zambesi sharks seen to 1.5 m [5'] in length",
 "White shark, 3 m [10'], tooth fragment from wounds identified as that of a white shark",
 'Grey nurse shark, 1m ',
 'Bull shark, 1m ',
 "Wobbegong shark, 1.8 m [6'] ",
 "White shark, 3.7 m to 4.6 m [12' to 15'] ",
 "Dusky shark, 2.7 m [9'] dusky shark C. obscurus identified by S. Springer on tooth recovered",
 "White shark, 2.1 m [7']  based on tooth pattern",
 "Bronze whaler shark, 3 m [10'], 200-lb",
 "Sandtiger shark, 2.1 m [7'] ",
 "Bronze whaler shark, 3.7 m [12'] identified by G.P. Whitley based on description",
 "Two 2.1 m [7'] sharks",

#### 01. I need to create a ```column``` with the months of the year based on the column "Date"

In [15]:
df.dropna(subset=['Species '], inplace=True)

/var/folders/d2/c8nbsrk920lgrdq2nn0mv1t00000gn/T/ipykernel_17345/2126942212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['Species '], inplace=True)

In [16]:
mask_bull = df['Species '].str.contains('bull', case=False)
mask_mako = df['Species '].str.contains('mako', case=False)
mask_tiger = df['Species '].str.contains('tiger', case=False)
mask_blacktip = df['Species '].str.contains('blacktip', case=False)
mask_white = df['Species '].str.contains('white', case=False) & df['Species '].str.contains('shark', case=False)


df.loc[mask_bull, 'Type Shark'] = 'Bull'
df.loc[mask_mako, 'Type Shark'] = 'Mako'
df.loc[mask_tiger, 'Type Shark'] = 'Tiger'
df.loc[mask_blacktip, 'Type Shark'] = 'Blacktip'
df.loc[mask_white, 'Type Shark'] = 'White Shark'

df

/var/folders/d2/c8nbsrk920lgrdq2nn0mv1t00000gn/T/ipykernel_17345/2040175616.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[mask_bull, 'Type Shark'] = 'Bull'

,Date,Year,Country,Species,Continent,Month,Season,Type Shark
3,2018-06-08,2018.0,Australia,2 m shark,Oceania,6,Winter,NaN
4,2018-06-04,2018.0,Mexico,"Tiger shark, 3m",North America,6,Summer,Tiger
6,2018-06-03,2018.0,Brazil,Tiger shark,South America,6,Winter,Tiger
10,2018-05-24,2018.0,Australia,Grey reef shark,Oceania,5,Autumn,NaN
16,2018-05-09,2018.0,Australia,Shark involvement not confirmed,Oceania,5,Autumn,NaN
...,...,...,...,...,...,...,...,...
6009,1853-04-29,1853.0,Greece,234-lb shark,Europe,4,Spring,NaN
6014,1852-12-19,1852.0,Australia,Shark involvement prior to death unconfirmed,Oceania,12,Summer,NaN
6021,1852-02-26,1852.0,South Africa,White sharks,Africa,2,Summer,White Shark
6035,1849-01-27,1849.0,Australia,Shark involvement prior to death unconfirmed,Oceania,1,Summer,NaN
6072,1839-04-14,1839.0,Cuba,"""a large shark""",North America,4,Spring,NaN

In [17]:
df.dropna(subset=['Type Shark'], inplace=True) 
df

/var/folders/d2/c8nbsrk920lgrdq2nn0mv1t00000gn/T/ipykernel_17345/1780311764.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['Type Shark'], inplace=True)

,Date,Year,Country,Species,Continent,Month,Season,Type Shark
4,2018-06-04,2018.0,Mexico,"Tiger shark, 3m",North America,6,Summer,Tiger
6,2018-06-03,2018.0,Brazil,Tiger shark,South America,6,Winter,Tiger
18,2018-04-28,2018.0,Costa Rica,Tiger shark,North America,4,Spring,Tiger
22,2018-04-24,2018.0,Australia,"White shark, 3.5 m",Oceania,4,Autumn,White Shark
23,2018-04-23,2018.0,Maldives,Tiger shark,Asia,4,Spring,Tiger
...,...,...,...,...,...,...,...,...
5489,1905-08-24,1905.0,Egypt,"Tiger shark, 3.9 m",Africa,8,Winter,Tiger
5545,1901-07-30,1901.0,South Africa,White shark,Africa,7,Winter,White Shark
5814,1880-11-25,1880.0,Australia,Bull shark,Oceania,11,Spring,Bull
5921,1868-09-01,1868.0,Italy,White shark,Europe,9,Autumn,White Shark
6021,1852-02-26,1852.0,South Africa,White sharks,Africa,2,Summer,White Shark

In [18]:
df_1

,Date,Year,Country,Species,Continent,Month,Season,Type Shark
4,2018-06-04,2018.0,Mexico,"Tiger shark, 3m",North America,6,Summer,Tiger
6,2018-06-03,2018.0,Brazil,Tiger shark,South America,6,Winter,Tiger
18,2018-04-28,2018.0,Costa Rica,Tiger shark,North America,4,Spring,Tiger
22,2018-04-24,2018.0,Australia,"White shark, 3.5 m",Oceania,4,Autumn,White Shark
23,2018-04-23,2018.0,Maldives,Tiger shark,Asia,4,Spring,Tiger
...,...,...,...,...,...,...,...,...
5489,1905-08-24,1905.0,Egypt,"Tiger shark, 3.9 m",Africa,8,Winter,Tiger
5545,1901-07-30,1901.0,South Africa,White shark,Africa,7,Winter,White Shark
5814,1880-11-25,1880.0,Australia,Bull shark,Oceania,11,Spring,Bull
5921,1868-09-01,1868.0,Italy,White shark,Europe,9,Autumn,White Shark
6021,1852-02-26,1852.0,South Africa,White sharks,Africa,2,Summer,White Shark

<div style="background-color: yellow;">
.
</div>

# 03.VISUALIZATION

    (1). BARPLOT?

In [19]:
#sns.countplot(x=df_months["Month"], palette="magma");

In [20]:
#sns.countplot(x=df_1["Month"], hue=df_1["Species "], palette="magma");

# DRAFT

In [21]:
df['Species'] = df['Species '].str.replace(r'.*bull.*', 'BULL', case=False, regex=True) 
df['Species'] = df['Species '].str.replace(r'.*mako.*', 'MAKO', case=False, regex=True)
df['Species'] = df['Species '].str.replace(r'.*white shark.*', 'WHITE SHARK', case=False, regex=True)
df['Species'] = df['Species '].str.replace(r'.*tiger.*', 'TIGER', case=False, regex=True)
df['Species'] = df['Species '].str.replace(r'.*blacktip.*', 'BLACKTIP', case=False, regex=True)
df.sample()

/var/folders/d2/c8nbsrk920lgrdq2nn0mv1t00000gn/T/ipykernel_17345/3618631152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Species'] = df['Species '].str.replace(r'.*bull.*', 'BULL', case=False, regex=True)
/var/folders/d2/c8nbsrk920lgrdq2nn0mv1t00000gn/T/ipykernel_17345/3618631152.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Species'] = df['Species '].str.replace(r'.*mako.*', 'MAKO', case=False, regex=True)
/var/folders/d2/c8nbsrk920lgrdq2nn0mv1t00000gn/T/ipykernel_17345/3618631152.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Species'] = df['Species '].str.replace(r'.*white shark.*', 'WHITE SHARK', case=False, regex=True)
/var/folders/d2/c8nbsrk920lgrdq2nn0mv1t00000gn/T/ipykernel_17345/3618631152.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Species'] = df['Species '].str.replace(r'.*tiger.*', 'TIGER', case=False, regex=True)
/var/folders/d2/c8nbsrk920lgrdq2nn0mv1t00000gn/T/ipykernel_17345/3618631152.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Species'] = df['Species '].str.replace(r'.*blacktip.*', 'BLACKTIP', case=False, regex=True)

,Date,Year,Country,Species,Continent,Month,Season,Type Shark,Species
2550,1992-06-17,1992.0,Japan,"White shark, identification by K. Nakaya",Asia,6,Summer,White Shark,"White shark, identification by K. Nakaya"

In [22]:
shark_species = ['MAKO', 'TIGER', 'WHITE SHARK', 'BULL', 'BLACKTIP']

df[df['Species '].isin(shark_species)]

Empty DataFrame
Columns: [Date, Year, Country, Species , Continent, Month, Season, Type Shark, Species]
Index: []

In [23]:
list(df.columns)

['Date',
 'Year',
 'Country',
 'Species ',
 'Continent',
 'Month',
 'Season',
 'Type Shark',
 'Species']

In [24]:
df.isnull().sum()

Date          0
Year          0
Country       0
Species       0
Continent     0
Month         0
Season        0
Type Shark    0
Species       0
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 592 entries, 4 to 6021
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        592 non-null    datetime64[ns]
 1   Year        592 non-null    float64
 2   Country     592 non-null    object
 3   Species     592 non-null    object
 4   Continent   592 non-null    object
 5   Month       592 non-null    int32
 6   Season      592 non-null    object
 7   Type Shark  592 non-null    object
 8   Species     592 non-null    object
dtypes: datetime64[ns](1), float64(1), int32(1), object(6)
memory usage: 43.9+ KB

In [26]:
df.Country.unique()

array(['Mexico', 'Brazil', 'Costa Rica', 'Australia', 'Maldives',
       'South Africa', 'Thailand', 'Bahamas', 'New Caledonia', 'Cuba',
       'Egypt', 'Indonesia', 'New Zealand', 'United Arab Emirates',
       'French Polynesia', 'France', 'Jamaica', 'Tonga',
       'Papua New Guinea', 'Seychelles', 'Malaysia', 'Guam', 'Croatia',
       'Fiji', 'Uruguay', 'United Kingdom', 'Italy', 'Mauritius',
       'Hong Kong', 'Japan', 'Chile', 'El Salvador', 'Spain', 'Portugal',
       'Israel', 'Mozambique', 'Palau', 'Greece', 'Bermuda', 'Turkey',
       'American Samoa', 'Marshall Islands', 'Malta', 'Montenegro',
       'Argentina', 'Canada', 'Panama', 'Nicaragua', 'Iraq'], dtype=object)

In [27]:
list(df.Time.unique()) # get the unique values

AttributeError: 'DataFrame' object has no attribute 'Time'

In [ ]:
list1= list(df.Country.unique())
list1

In [ ]:
country_name = 'MID ATLANTIC OCEAN'
country_obj = pycountry.countries.get(name=country_name)
if country_obj is not None:
    print(f"{country_name} EXISTS in pycountry")
else:
    print(f"{country_name} does not exist in pycountry")

In [ ]:
df['Country'] = df['Country'].apply(lambda x: x.title())

# Filtering

In [ ]:
df.Year ==

In [ ]:
country_to_continent = {
    'Australia': ('Oceania', 'South'),
    'Mexico': ('North America', 'North'),
    'Brazil': ('South America', 'South'),
    'South Africa': ('Africa', 'South'),
    'Thailand': ('Asia', 'North'),
    'Costa Rica': ('North America', 'North'),
    'Maldives': ('Asia', 'North'),
    'Bahamas': ('North America', 'North'),
    'New Caledonia': ('Oceania', 'South'),
    'Ecuador': ('South America', 'South'),
    'Malaysia': ('Asia', 'North'),
    'Cuba': ('North America', 'North'),
    'Mauritius': ('Africa', 'South'),
    'New Zealand': ('Oceania', 'South'),
    'Spain': ('Europe', 'North'),
    'Samoa': ('Oceania', 'South'),
    'Solomon Islands': ('Oceania', 'South'),
    'Japan': ('Asia', 'North'),
    'Egypt': ('Africa', 'North'),
    'Comoros': ('Africa', 'South'),
    'French Polynesia': ('Oceania', 'South'),
    'United Kingdom': ('Europe', 'North'),
    'United Arab Emirates': ('Asia', 'North'),
    'Philippines': ('Asia', 'North'),
    'Indonesia': ('Asia', 'North'),
    'China': ('Asia', 'North'),
    'Fiji': ('Oceania', 'South'),
    'Dominican Republic': ('North America', 'North'),
    'Cayman Islands': ('North America', 'North'),
    'Aruba': ('North America', 'North'),
    'Mozambique': ('Africa', 'South'),
    'Puerto Rico': ('North America', 'North'),
    'Italy': ('Europe', 'North'),
    'Greece': ('Europe', 'North'),
    'France': ('Europe', 'North'),
    'Papua New Guinea': ('Oceania', 'South'),
    'Kiribati': ('Oceania', 'South'),
    'Israel': ('Asia', 'North'),
    'Jamaica': ('North America', 'North'),
    'Guam': ('Oceania', 'North'),
    'Seychelles': ('Africa', 'South'),
    'Belize': ('North America', 'North'),
    'Nigeria': ('Africa', 'North'),
    'Tonga': ('Oceania', 'South'),
    'Canada': ('North America', 'North'),
    'Croatia': ('Europe', 'North'),
    'Saudi Arabia': ('Asia', 'North'),
    'Chile': ('South America', 'South'),
    'Kenya': ('Africa', 'South'),
    'Malta': ('Europe', 'North'),
    'Madagascar': ('Africa', 'South'),
    'Panama': ('North America', 'North'),
    'Somalia': ('Africa', 'North'),
    'Norway': ('Europe', 'North'),
    'Senegal': ('Africa', 'North'),
    'Yemen': ('Asia', 'North'),
    'Sierra Leone': ('Africa', 'North'),
    'Liberia': ('Africa', 'North'),
    'Vanuatu': ('Oceania', 'South'),
    'Honduras': ('North America', 'North'),
    'Sri Lanka': ('Asia', 'North'),
    'Uruguay': ('South America', 'South'),
    'India': ('Asia', 'North'),
    'Marshall Islands': ('Oceania', 'North'),
    'Hong Kong': ('Asia', 'North'),
    'El Salvador': ('North America', 'North'),
    'Angola': ('Africa', 'South'),
    'Bermuda': ('North America', 'North'),
    'Montenegro': ('Europe', 'North'),
    'Tunisia': ('Africa', 'North'),
    'Namibia': ('Africa', 'South'),
    'Portugal': ('Europe', 'North'),
    'Palau': ('Oceania', 'North'),
    'Grenada': ('North America', 'North'),
    'Turkey': ('Asia', 'North'),
    'Singapore': ('Asia', 'North'),
    'Sudan': ('Africa', 'North'),
    'American Samoa': ('Oceania', 'South'),
    'Argentina': ('South America', 'South'),
    'Guatemala': ('North America', 'North'),
    'Nicaragua': ('North America', 'North'),
    'Iraq': ('Asia', 'North'),
    'Iceland': ('Europe', 'North'),
    'Barbados': ('North America', 'North'),
    'Guyana': ('South America', 'South'),
    'Haiti': ('North America', 'North'),
    'Ireland': ('Europe', 'North'),
    'Lebanon': ('Asia', 'North'),
    'Paraguay': ('South America', 'South'),
    'Georgia': ('Asia', 'North'),
    'Guinea': ('Africa', 'North'),
    'Cook Islands': ('Oceania', 'South'),
    'Martinique': ('North America', 'North')
}